node-red/flows.json
[{"id":"e6e99f7e.4c388","type":"tab","label":"Tutto","disabled":false,"info":""},{"id":"1e01d294.b4d1cd","type":"tab","label":"Tutto 2","disabled":false,"info":""},{"id":"4944792e.b2d158","type":"tab","label":"Clima","disabled":false,"info":""},{"id":"75ea38.3ea445c8","type":"tab","label":"Bridge Dashboard ipad","disabled":false,"info":""},{"id":"3cf43879.afc288","type":"tab","label":"Notifiche su android tv","disabled":false,"info":""},{"id":"b28dec36.7924e","type":"tab","label":"Kiosk","disabled":false,"info":""},{"id":"f4039982.89ab38","type":"mqtt-broker","z":"","name":"Local","broker":"core-mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10bfe013.d1e7a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ebb2d9f.eeabf","type":"mqtt-broker","z":"","name":"bridge cloud mqtt","broker":"postman.cloudmqtt.com","port":"16830","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ca23755.178198","type":"server","z":"","name":"Home Assistant Nonna","legacy":true,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"ca579b8.0255868","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"af1fc031.f6c55","type":"server","z":"","name":"Dash","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"c7dc887c.c17898","type":"tls-config","z":"","name":"gBridge","cert":"","key":"","ca":"","certname":"LetsEncrypt-AllCAs.pem","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"be60d5f9.0c00f8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"data\":{\"attachment\":{\"content-type\":\"jpg\",\"url\":\"https://casanonna.duckdns.org:8123/local/on.jpg\"}},\"message\":\"è dI NuOvO AcCesA\",\"title\":\"Casa Nonna\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":100,"wires":[[]]},{"id":"40eaf2d.f1d9b0c","type":"mqtt in","z":"e6e99f7e.4c388","name":"","topic":"niccolo/haON","qos":"2","datatype":"auto","broker":"8ebb2d9f.eeabf","x":110,"y":100,"wires":[["be60d5f9.0c00f8"]]},{"id":"1e283230.1ed9be","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.festra_centrale","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":100,"wires":[["29a3cc24.1e1734"],["2d0bd99a.3c57f6"]]},{"id":"29a3cc24.1e1734","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.festra_divano","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1030,"y":80,"wires":[["eb51ca35.a79748"],["2d0bd99a.3c57f6"]]},{"id":"eb51ca35.a79748","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.finestra_letto","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1400,"y":80,"wires":[["9ac5e1d7.1013b"],["2d0bd99a.3c57f6"]]},{"id":"2d0bd99a.3c57f6","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"c'è almeno una finestra aperta, il clima non è partito\",\"title\":\"Climatizzatore\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":120,"wires":[[]]},{"id":"9ac5e1d7.1013b","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porta_camera","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1770,"y":80,"wires":[["6bbea252.bcc2cc"],["6bd168bb.b93608"]]},{"id":"6bd168bb.b93608","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"data\":{\"push\":{\"badge\":0,\"category\":\"clima\"}},\"message\":\"la porta della camera è chiusa. vado?\",\"title\":\"Climatizzatore\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2110,"y":100,"wires":[[]]},{"id":"6bbea252.bcc2cc","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porta_delle_scale","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2160,"y":60,"wires":[["b1eae806.c2ae48"],["23fbf4bc.1720ec"]]},{"id":"b1eae806.c2ae48","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"data\":{\"push\":{\"badge\":0,\"category\":\"clima\"}},\"message\":\"la porta delle scale è aperta. vado?\",\"title\":\"Climatizzatore\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2510,"y":40,"wires":[[]]},{"id":"23fbf4bc.1720ec","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","service_domain":"climate","service":"turn_on","data":"{\"entity_id\":\"climate.mitsubishi\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2480,"y":80,"wires":[["bb6b0191.28c23"]]},{"id":"bc63df1d.ead66","type":"server-events","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","event_type":"","x":2140,"y":200,"wires":[["b15396e9.c018d8"]]},{"id":"b15396e9.c018d8","type":"switch","z":"4944792e.b2d158","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"ACLIMA","vt":"str"},{"t":"eq","v":"SCLIMA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":200,"wires":[["5baec6ad.e16508"],["1e9aaca9.37e793"]]},{"id":"5baec6ad.e16508","type":"trigger","z":"4944792e.b2d158","op1":"A","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"invia \"A\" per attivare l'altro dispositivo","x":2530,"y":180,"wires":[["23fbf4bc.1720ec","bb6b0191.28c23"]]},{"id":"78708a4c.d1b0e4","type":"api-call-service","z":"4944792e.b2d158","name":"Notifica NICCOLO aria ACCESA","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"acceso\",\"title\":\"Condizionatore\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2970,"y":80,"wires":[[]]},{"id":"1e9aaca9.37e793","type":"api-call-service","z":"4944792e.b2d158","name":"Notifica NICCOLO aria **NON** ACCESA","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"ok non lo accendo\",\"title\":\"Condizionatore\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2540,"y":220,"wires":[[]]},{"id":"ff17695d.a0a0f8","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa casa","topic":"device/acasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":120,"wires":[["5a7de7b0.fcbae8"]]},{"id":"5a7de7b0.fcbae8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883035660\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":120,"wires":[[]]},{"id":"7dbd00bd.ffa86","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883453691\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":180,"wires":[[]]},{"id":"7ced8c1f.e4e2f4","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa bar","topic":"device/abar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":180,"wires":[["7dbd00bd.ffa86"]]},{"id":"628e2fe0.bc15","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa fuori","topic":"device/afuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":240,"wires":[["187e0249.8eca6e"]]},{"id":"187e0249.8eca6e","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883542323\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":240,"wires":[[]]},{"id":"449117a8.e8d4f8","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa giusy","topic":"device/agiusy","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":300,"wires":[["3dbb869c.1cb1da"]]},{"id":"3dbb869c.1cb1da","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883494371\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":300,"wires":[[]]},{"id":"3b03c2ff.4ce17e","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ebar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":580,"wires":[["b8316530.33cef8"]]},{"id":"b8316530.33cef8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883676821\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":580,"wires":[[]]},{"id":"69c121d6.7dce4","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/efuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":640,"wires":[["e178fbe4.890d18"]]},{"id":"f5049be.317af68","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ecasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":520,"wires":[["1c1df8f5.fd29a7"]]},{"id":"1c1df8f5.fd29a7","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883715863\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":520,"wires":[[]]},{"id":"e178fbe4.890d18","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883654262\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":640,"wires":[[]]},{"id":"911be4d9.6c1698","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883739093\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":700,"wires":[[]]},{"id":"a6558bac.c70378","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/egiusy","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":700,"wires":[["911be4d9.6c1698"]]},{"id":"5888be7f.aea42","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883621449\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":940,"wires":[[]]},{"id":"778f1d75.715604","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/cbar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":940,"wires":[["5888be7f.aea42"]]},{"id":"791dd6ac.bba698","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ccasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":880,"wires":[["8912c50f.770038"]]},{"id":"8912c50f.770038","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883599234\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":880,"wires":[[]]},{"id":"67a6f92f.eb7e58","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883572979\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1000,"wires":[[]]},{"id":"2adc1789.a5ddb8","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/cfuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1000,"wires":[["67a6f92f.eb7e58"]]},{"id":"3f83db45.c067b4","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ncasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1180,"wires":[["bdc11ab8.fd5558"]]},{"id":"bdc11ab8.fd5558","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562962900142\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1180,"wires":[[]]},{"id":"647121cd.02d15","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nbar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1240,"wires":[["a31f34f5.bba748"]]},{"id":"a31f34f5.bba748","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961297562\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1240,"wires":[[]]},{"id":"3ca93bf8.51f164","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nfuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1300,"wires":[["9813fc0f.b365b"]]},{"id":"9813fc0f.b365b","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961196334\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1300,"wires":[[]]},{"id":"6cf5714e.a6b5c","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nlavoro","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":120,"y":1360,"wires":[["39b1e8f6.34e738"]]},{"id":"39b1e8f6.34e738","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961233374\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1360,"wires":[[]]},{"id":"3f5e12d4.f5e56e","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nchri","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1420,"wires":[["223000a.97cfa"]]},{"id":"223000a.97cfa","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961260725\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1420,"wires":[[]]},{"id":"31b7ec1a.640904","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ngiusy","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1480,"wires":[["4f0b24f9.f0972c"]]},{"id":"4f0b24f9.f0972c","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562962937448\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1480,"wires":[[]]},{"id":"776272db.c9fc5c","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/npale","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1540,"wires":[[]]},{"id":"88a8bf29.479d2","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562962937448\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1540,"wires":[[]]},{"id":"817aa549.d1d988","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"light/cucinaon","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1840,"wires":[["8062dd5c.42cfb"]]},{"id":"8062dd5c.42cfb","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563004380775\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1840,"wires":[[]]},{"id":"69ba02bd.f4da8c","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"light/cucinaoff","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1900,"wires":[["ddcf1c7d.32763"]]},{"id":"ddcf1c7d.32763","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563004479219\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1900,"wires":[[]]},{"id":"16cd0a7.cc320f6","type":"server-state-changed","z":"75ea38.3ea445c8","name":"Request from Kitchen Light","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Cucina","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":3660,"wires":[["b824438.6a5e4c"],[]]},{"id":"b824438.6a5e4c","type":"api-call-service","z":"75ea38.3ea445c8","name":"Toggle Kitchen on Main HA","server":"ca579b8.0255868","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.koogeek_socket_a27269\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":240,"y":3720,"wires":[["9c54fe88.d58dd"]]},{"id":"9c54fe88.d58dd","type":"api-call-service","z":"75ea38.3ea445c8","name":"Update Input Select on Dashboard","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":3800,"wires":[[]]},{"id":"840f096e.66c708","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"light/vetrinaon","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":710,"y":1840,"wires":[["955a9bca.f604d8"]]},{"id":"955a9bca.f604d8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563039551123\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1840,"wires":[[]]},{"id":"ff9e07dd.979dd8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563039514514\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1900,"wires":[[]]},{"id":"e3d51d23.e873b","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"switch.sonoff_10003eff18","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":800,"y":1900,"wires":[["ff9e07dd.979dd8"],[]]},{"id":"a0488f98.27971","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.porta_delle_scale","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":2220,"wires":[["92fc8309.b5754"],["7e49587d.ee7ab8"]]},{"id":"92fc8309.b5754","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.porta_status_dropdown\",\"option\":\"Aperta\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":2220,"wires":[[]]},{"id":"7e49587d.ee7ab8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.porta_status_dropdown\",\"option\":\"Chiusa\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":2260,"wires":[[]]},{"id":"c0f72999.2ed5d8","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"light.koogeek_socket_a27269","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":1740,"wires":[["ddcf1c7d.32763"],[]]},{"id":"aafe0790.812e18","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"light.koogeek_socket_a27269","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":1800,"wires":[["8062dd5c.42cfb"],[]]},{"id":"e03ea38d.284e","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.clima_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":2360,"wires":[[]]},{"id":"5c01fdb8.cf00f4","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"switch.clima","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":2380,"wires":[["e03ea38d.284e"],["957bf2e0.b79e5"]]},{"id":"957bf2e0.b79e5","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.clima_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":2400,"wires":[[]]},{"id":"72c82dc3.7a51f4","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot1_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2520,"wires":[[]]},{"id":"8b5b91c8.5fc0e","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"automation.test_ir_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":2540,"wires":[["72c82dc3.7a51f4"],["c33d4a75.99d7e8"]]},{"id":"c33d4a75.99d7e8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot1_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2560,"wires":[[]]},{"id":"d8b47489.b23cc8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot2_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2640,"wires":[[]]},{"id":"8c77ce96.e1ca3","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"automation.movimento_garage_notifica","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":2660,"wires":[["d8b47489.b23cc8"],["e63e6766.15b008"]]},{"id":"e63e6766.15b008","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot2_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2680,"wires":[[]]},{"id":"425987df.ea1d38","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2380,"wires":[[]]},{"id":"4c68d2e3.de5c2c","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.clima\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":2380,"wires":[["425987df.ea1d38"]]},{"id":"3f19dc63.1202c4","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Clima","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":940,"y":2380,"wires":[["4c68d2e3.de5c2c"],[]]},{"id":"c24957fd.205538","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2540,"wires":[[]]},{"id":"28f49e5b.bf1772","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"toggle","data":"{\"entity_id\":\"automation.test_ir_sensor\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":2540,"wires":[["c24957fd.205538"]]},{"id":"8972dac8.155988","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"mot1","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":940,"y":2540,"wires":[["28f49e5b.bf1772"],[]]},{"id":"e10bd217.5f70b","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2640,"wires":[[]]},{"id":"addd354d.38fad8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"toggle","data":"{\"entity_id\":\"automation.movimento_garage_notifica\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":2640,"wires":[["e10bd217.5f70b"]]},{"id":"c5f67312.7b6da","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"mot2","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":940,"y":2640,"wires":[["addd354d.38fad8"],[]]},{"id":"6d199215.3c740c","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":800,"wires":[["5888be7f.aea42"]]},{"id":"5d5304e2.c13cbc","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["1c1df8f5.fd29a7"]]},{"id":"f4939be3.e1d5d8","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["7dbd00bd.ffa86"]]},{"id":"4c5aecdc.942a74","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2420,"wires":[["e03ea38d.284e"]]},{"id":"3c22e459.5378dc","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":40,"wires":[["60a43726.e7c618","d0a5b76b.0a1448","2b5e858e.fb963a","a1d06f5d.785ec"],[]]},{"id":"60a43726.e7c618","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":120,"wires":[["5a7de7b0.fcbae8"],[]]},{"id":"d0a5b76b.0a1448","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":200,"wires":[["187e0249.8eca6e"],[]]},{"id":"2b5e858e.fb963a","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":160,"wires":[["7dbd00bd.ffa86"],[]]},{"id":"a1d06f5d.785ec","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Nonna Giusy","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":240,"wires":[["3dbb869c.1cb1da"],[]]},{"id":"ebacd05f.b9d5a","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":480,"wires":[["a00e55ab.55b518","d02c2759.abff48","92868a89.cf0868","8c07fef1.cbeb9"],[]]},{"id":"a00e55ab.55b518","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.eleonora","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1290,"y":520,"wires":[["1c1df8f5.fd29a7"],[]]},{"id":"d02c2759.abff48","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.eleonora","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1290,"y":560,"wires":[["e178fbe4.890d18"],[]]},{"id":"92868a89.cf0868","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.eleonora","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1290,"y":600,"wires":[["b8316530.33cef8"],[]]},{"id":"8c07fef1.cbeb9","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Nonna Giusy","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.eleonora","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1290,"y":640,"wires":[["911be4d9.6c1698"],[]]},{"id":"da80e46b.a89028","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_claudio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":880,"wires":[["8912c50f.770038"],[]]},{"id":"d7decab.7e12b38","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":840,"wires":[["da80e46b.a89028","ee563da7.e9959","aec634a.11d2fc8"],[]]},{"id":"ee563da7.e9959","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_claudio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":920,"wires":[["67a6f92f.eb7e58"],[]]},{"id":"aec634a.11d2fc8","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_claudio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":960,"wires":[["5888be7f.aea42"],[]]},{"id":"1c8c4f95.9abe6","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":1140,"wires":[["3c7ff5ce.5f9b2a","9ee1c9a9.7b95d8","86a30538.873938","f67c5ab0.470438","70934204.424c8c"],[]]},{"id":"3c7ff5ce.5f9b2a","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1180,"wires":[["bdc11ab8.fd5558"],[]]},{"id":"9ee1c9a9.7b95d8","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1220,"wires":[["a31f34f5.bba748"],[]]},{"id":"86a30538.873938","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1260,"wires":[["9813fc0f.b365b"],[]]},{"id":"f67c5ab0.470438","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Lavoro","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1300,"wires":[["39b1e8f6.34e738"],[]]},{"id":"70934204.424c8c","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Nonna Giusy","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1340,"wires":[["4f0b24f9.f0972c"],[]]},{"id":"f370e1b0.62507","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":1680,"wires":[["79663c7f.66ac94"],[]]},{"id":"79663c7f.66ac94","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.koogeek_socket_a27269","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1680,"wires":[["8062dd5c.42cfb"],["ddcf1c7d.32763"]]},{"id":"fd27cafd.441d88","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1430,"y":1840,"wires":[["3c36c631.64068a"],[]]},{"id":"3c36c631.64068a","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_10003eff18","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1820,"y":1840,"wires":[["955a9bca.f604d8"],[]]},{"id":"3b22a13a.ae2b2e","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":1760,"wires":[["3c36c631.64068a"]]},{"id":"c8136ad3.f76378","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1050,"y":2220,"wires":[["d89badd0.c39a4"],[]]},{"id":"d89badd0.c39a4","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porta_delle_scale","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1460,"y":2220,"wires":[["92fc8309.b5754"],["7e49587d.ee7ab8"]]},{"id":"6302f444.7b391c","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":2030,"y":2380,"wires":[["ec07d268.0e459"],[]]},{"id":"ec07d268.0e459","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.clima","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2380,"y":2380,"wires":[["e03ea38d.284e"],["957bf2e0.b79e5"]]},{"id":"d1045ba3.aa8ee8","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2140,"y":2300,"wires":[["ec07d268.0e459"]]},{"id":"a7e17345.5a86d","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":60,"wires":[["5a7de7b0.fcbae8"]]},{"id":"1026683.dba3198","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1200,"y":40,"wires":[["60a43726.e7c618","2b5e858e.fb963a","d0a5b76b.0a1448","a1d06f5d.785ec"]]},{"id":"98e44181.e0736","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1200,"y":480,"wires":[["a00e55ab.55b518","d02c2759.abff48","92868a89.cf0868","8c07fef1.cbeb9"]]},{"id":"98f4cb50.0adb78","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1200,"y":840,"wires":[["da80e46b.a89028","ee563da7.e9959","aec634a.11d2fc8"]]},{"id":"15f15585.bf768a","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1160,"y":1140,"wires":[["3c7ff5ce.5f9b2a","9ee1c9a9.7b95d8","86a30538.873938","f67c5ab0.470438","70934204.424c8c"]]},{"id":"85c58662.7cec98","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":360,"y":1660,"wires":[["79663c7f.66ac94"]]},{"id":"ddc8f91a.ac4d28","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1560,"y":1820,"wires":[["3c36c631.64068a"]]},{"id":"dd881c0f.c77fa","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.pir_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":360,"wires":[["dae53aa8.247398"],[]]},{"id":"dae53aa8.247398","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"45.67831","lon":"12.16674","startTime":"20:30","endTime":"6:00","startOffset":0,"endOffset":0,"x":470,"y":360,"wires":[["14f8d4f1.504b8b"],[]]},{"id":"14f8d4f1.504b8b","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.60707618ecfabc23078c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":360,"wires":[["70e2a949.934588"]]},{"id":"70e2a949.934588","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":360,"wires":[["23d9a8cf.e350b8"]]},{"id":"23d9a8cf.e350b8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.60707618ecfabc23078c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":360,"wires":[[]]},{"id":"ac30925d.79c88","type":"comment","z":"e6e99f7e.4c388","name":"Notifica Accensione Casa","info":"","x":150,"y":40,"wires":[]},{"id":"c0abfa34.e292a8","type":"comment","z":"e6e99f7e.4c388","name":"Accende la Luce del garage solo la sera","info":"","x":190,"y":320,"wires":[]},{"id":"7207d6bd.efe738","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["79c5ead6.d8e7e4"]]},{"id":"79c5ead6.d8e7e4","type":"mqtt out","z":"e6e99f7e.4c388","name":"","topic":"ha/update","qos":"","retain":"","broker":"f4039982.89ab38","x":360,"y":220,"wires":[]},{"id":"e76d1dec.4d20f","type":"comment","z":"75ea38.3ea445c8","name":"POP Up telecamere","info":"","x":150,"y":3080,"wires":[]},{"id":"9ea77c85.10877","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.campanello","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":3140,"wires":[["a88ce634.27aaa8"],[]]},{"id":"a88ce634.27aaa8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond3_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3140,"wires":[["550d737e.0ece0c"]]},{"id":"550d737e.0ece0c","type":"delay","z":"75ea38.3ea445c8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3140,"wires":[["4ac1ab27.475724"]]},{"id":"4ac1ab27.475724","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond3_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":3140,"wires":[[]]},{"id":"27a442a1.b5100e","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.pir_esterno","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":3220,"wires":[[],[]]},{"id":"4abcb96a.5b6e88","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond1_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3220,"wires":[["c76d3218.c6f09"]]},{"id":"c76d3218.c6f09","type":"delay","z":"75ea38.3ea445c8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3220,"wires":[["34e04857.9b6bd8"]]},{"id":"34e04857.9b6bd8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond1_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":3220,"wires":[[]]},{"id":"d164fd06.4defa","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.pir_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":3300,"wires":[["3c6e0af7.04a966"],[]]},{"id":"3c6e0af7.04a966","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond2_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3300,"wires":[["499ebf49.dedda"]]},{"id":"499ebf49.dedda","type":"delay","z":"75ea38.3ea445c8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3300,"wires":[["47a5b865.62c8a8"]]},{"id":"47a5b865.62c8a8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond2_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":3300,"wires":[[]]},{"id":"db8f3f03.c817d","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":640,"wires":[[],["fdd71e7c.5f6f8"]]},{"id":"fdd71e7c.5f6f8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":0,"service_domain":"notify","service":"ios_annalisa","data":"{\"data\":{\"attachment\":{\"content-type\":\"jpg\",\"url\":\"/local/cancelletto.jpg\"}},\"message\":\"qualcuno ha suonato il campanello\",\"title\":\"Cancelletto\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":640,"wires":[[]]},{"id":"76b85670.7954c8","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.eleonora","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":720,"wires":[["8beaeba8.6d9518"],[]]},{"id":"741991c5.3376a","type":"comment","z":"e6e99f7e.4c388","name":"Notifiche del Campanello se non sono a casa","info":"","x":210,"y":580,"wires":[]},{"id":"2d4bb22f.afe7fe","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"cool","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.mitsubishi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":80,"wires":[["45bb9ddc.cddf34"],["1e283230.1ed9be"]]},{"id":"45bb9ddc.cddf34","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"bravo, era già acceso\",\"title\":\"Climatizzatore\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":60,"wires":[[]]},{"id":"bb6b0191.28c23","type":"join","z":"4944792e.b2d158","name":"Semplifica notifica","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"2","reduceInitType":"num","reduceFixup":"","x":2710,"y":80,"wires":[["78708a4c.d1b0e4"]]},{"id":"bf5997a.d2d4b68","type":"comment","z":"e6e99f7e.4c388","name":"Switch Nonna Giusy","info":"attiva questo attraverso l'interfaccia utente per disabilitare la telecamere","x":130,"y":1020,"wires":[]},{"id":"76745fec.8fbda","type":"mqtt in","z":"e6e99f7e.4c388","name":"","topic":"OFF","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":90,"y":1080,"wires":[["e90a1968.def598"]]},{"id":"e90a1968.def598","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":0,"service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.test_ir_sensor\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":1080,"wires":[["a6a16af7.4d2288"]]},{"id":"4d6d176d.395548","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"59","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":1080,"wires":[["88b49164.ba0ba"]]},{"id":"88b49164.ba0ba","type":"mqtt out","z":"e6e99f7e.4c388","name":"","topic":"switch/giusyoff","qos":"","retain":"","broker":"f4039982.89ab38","x":1000,"y":1080,"wires":[]},{"id":"a6a16af7.4d2288","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.movimento_garage_notifica\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":1080,"wires":[["4d6d176d.395548"]]},{"id":"6e64812f.96d09","type":"comment","z":"e6e99f7e.4c388","name":"Non dimenticarti la telecamera del garage accesa","info":"","x":220,"y":1160,"wires":[]},{"id":"5e9ab5ba.cd005c","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"automation.movimento_garage_notifica","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":1220,"wires":[["d265db52.7aaf68"],[]]},{"id":"d265db52.7aaf68","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"59","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":1220,"wires":[["a60d6a88.9b9408"]]},{"id":"a60d6a88.9b9408","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_on","data":"{\"entity_id\":\"automation.movimento_garage_notifica\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":1220,"wires":[[]]},{"id":"b2438897.89efe8","type":"comment","z":"e6e99f7e.4c388","name":"Quando accendere lo specchio","info":"","x":170,"y":1360,"wires":[]},{"id":"215e7f45.53e37","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"device_tracker.niccolo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1420,"wires":[["9e60fce6.0d94b"],["bfc0850b.0c98b8"]]},{"id":"a91b7e0d.84141","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":1400,"wires":[[]]},{"id":"bfc0850b.0c98b8","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1440,"wires":[["d6cbfa4d.122ce8"]]},{"id":"d6cbfa4d.122ce8","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1440,"wires":[[],["9d240ed3.86c9c"]]},{"id":"9d240ed3.86c9c","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":1440,"wires":[[]]},{"id":"42e43d44.9408b4","type":"inject","z":"e6e99f7e.4c388","name":"spegni alle 22:15","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 22 * * *","once":false,"onceDelay":0.1,"x":1310,"y":1460,"wires":[["7ebb5cda.a3df04"]]},{"id":"7ebb5cda.a3df04","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1460,"wires":[[]]},{"id":"683f1a45.9e8504","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"device_tracker.niccolo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1540,"wires":[[],["99ba8fd8.13667"]]},{"id":"99ba8fd8.13667","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1540,"wires":[["3ad1204a.f6022"]]},{"id":"3ad1204a.f6022","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":1540,"wires":[[],["c2ed12c8.ebe85","5ffa5f78.67587"]]},{"id":"c2ed12c8.ebe85","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":0,"service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.principale, light.scrivania, light.02200466b4e62d07bd0c, light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":1540,"wires":[[]]},{"id":"5ffa5f78.67587","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":1540,"wires":[[]]},{"id":"de4080ef.27c64","type":"comment","z":"e6e99f7e.4c388","name":"Spegni la camera in mia assenza","info":"","x":170,"y":1500,"wires":[]},{"id":"d819cbb0.431678","type":"comment","z":"e6e99f7e.4c388","name":"Aggiorna la posizione di niccolò dopo il riavvio","info":"","x":210,"y":1660,"wires":[]},{"id":"7a6fef9e.7dd44","type":"mqtt in","z":"e6e99f7e.4c388","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":100,"y":1720,"wires":[["a7f521a3.50ef9"]]},{"id":"a7f521a3.50ef9","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1720,"wires":[["ded24e6b.eee97"]]},{"id":"ded24e6b.eee97","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":1720,"wires":[[]]},{"id":"1b31a0f9.99dc8f","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1800,"wires":[["ded24e6b.eee97"]]},{"id":"a8109a68.b4d0a8","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":1400,"wires":[["68bdbd67.30e914"]]},{"id":"d125be68.6752a","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2030,"y":1400,"wires":[["eeac7d81.d7da3"],[]]},{"id":"eeac7d81.d7da3","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2310,"y":1400,"wires":[[]]},{"id":"68bdbd67.30e914","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"","lon":"","startTime":"07:28","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":1390,"y":1400,"wires":[["f6fddfac.9d03c"],[]]},{"id":"f6fddfac.9d03c","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_10003ecc07","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1680,"y":1400,"wires":[["d125be68.6752a"],[]]},{"id":"9e60fce6.0d94b","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":1400,"wires":[["80f701c3.c84f5"]]},{"id":"80f701c3.c84f5","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1400,"wires":[["a91b7e0d.84141"],[]]},{"id":"615906ac.93c8e8","type":"comment","z":"75ea38.3ea445c8","name":"NGROK url change","info":"","x":150,"y":3400,"wires":[]},{"id":"4d270e9d.390b","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"ngrok","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":3460,"wires":[["b69e5699.b7e428","b0776caa.b12bf"],[]]},{"id":"b69e5699.b7e428","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"outputs":2,"halt_if":"9","halt_if_type":"num","halt_if_compare":"is_not","override_topic":true,"entity_id":"ngrok.public_url","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":3460,"wires":[["fca3cb29.a76f98","9a7b04f8.d06bf8","4ea51942.517c98","f8355b53.f93838"],[]]},{"id":"cb8ad9f3.1236f8","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":3560,"wires":[["b69e5699.b7e428"]]},{"id":"fca3cb29.a76f98","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":0,"service_domain":"notify","service":"ios_niccolo","data":"{\"data\":{\"subtitle\":\"è pronta\",\"attachment\":{\"content-type\":\"jpg\",\"url\":\"https://casaniccolo.duckdns.org:8123/local/dash.jpg\"}},\"message\":\"http://{{payload}}\",\"title\":\"Dashboard\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":3460,"wires":[["1e2296a.7060869"]]},{"id":"1e2296a.7060869","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":3460,"wires":[[]]},{"id":"60111ab0.6ea5f4","type":"api-call-service","z":"75ea38.3ea445c8","name":"Toggle Lamp on Main HA","server":"ca579b8.0255868","service_domain":"switch","service":"toggle","data":"{\"entity_id\": \"switch.sonoff_10003eff18\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":3720,"wires":[["795fa7eb.c085a8"]]},{"id":"ecd209b1.8fa028","type":"server-state-changed","z":"75ea38.3ea445c8","name":"Request from Lamp Light","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Vetrina","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":630,"y":3660,"wires":[["60111ab0.6ea5f4"],[]]},{"id":"795fa7eb.c085a8","type":"api-call-service","z":"75ea38.3ea445c8","name":"Update Input Select on Dashboard","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":3800,"wires":[[]]},{"id":"36288539.90e1ea","type":"poll-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"updateinterval":"120","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"media_player.camera","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":1,"x":170,"y":1980,"wires":[["8d30c4e4.526ce8"]]},{"id":"c443b5f4.f54af8","type":"comment","z":"e6e99f7e.4c388","name":"Mantieni sempre accesi i GMini","info":"","x":170,"y":1920,"wires":[]},{"id":"8d30c4e4.526ce8","type":"switch","z":"e6e99f7e.4c388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":1980,"wires":[["111b4c0d.24a1c4"],["111b4c0d.24a1c4"],["111b4c0d.24a1c4"]]},{"id":"111b4c0d.24a1c4","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":0,"service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.camera\",\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/1sec.mp3\",\"media_content_type\":\"audio/mp4\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":1980,"wires":[[]]},{"id":"9a7b04f8.d06bf8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"4ca23755.178198","version":0,"service_domain":"notify","service":"telegram_niccolo","data":"{\"data\":{\"subtitle\":\"è pronta\",\"attachment\":{\"content-type\":\"jpg\",\"url\":\"https://casaniccolo.duckdns.org:8123/local/dash.jpg\"}},\"message\":\"http://{{payload}}\",\"title\":\"Dashboard\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":3520,"wires":[[]]},{"id":"e26d7d04.af976","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/ngrok","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":380,"y":3500,"wires":[["b69e5699.b7e428","b0776caa.b12bf"]]},{"id":"2804677e.30ebf8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.cucina\",\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/1sec.mp3\",\"media_content_type\":\"audio/mp4\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":2040,"wires":[[]]},{"id":"f033d9c1.b84378","type":"switch","z":"e6e99f7e.4c388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":2040,"wires":[["2804677e.30ebf8"],["2804677e.30ebf8"],["2804677e.30ebf8"]]},{"id":"a7f28cff.e2ca3","type":"poll-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"updateinterval":"120","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"media_player.cucina","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":1,"x":170,"y":2040,"wires":[["f033d9c1.b84378"]]},{"id":"c745bcf3.571b1","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.principale, light.scrivania, light.02200466b4e62d07bd0c, light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2280,"wires":[[]]},{"id":"dc09e465.5ff728","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":2280,"wires":[[]]},{"id":"73090bf4.fa3dc4","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.principale, light.scrivania, light.02200466b4e62d07bd0c, light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2220,"wires":[[]]},{"id":"9803b7cb.6ea248","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":2220,"wires":[[]]},{"id":"b62cf1bc.e13bd","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.tasto_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":2280,"wires":[["c745bcf3.571b1","dc09e465.5ff728","29eaa07f.17c94"],[]]},{"id":"29eaa07f.17c94","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"mqtt","service":"publish","data":"{   \"payload\": \"f97E2C\",   \"topic\": \"tele/bridge/RESULT\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":2280,"wires":[[]]},{"id":"5d2a443.5fe65bc","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.tasto_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":2220,"wires":[["73090bf4.fa3dc4","9803b7cb.6ea248","53dadd97.133804"],[]]},{"id":"53dadd97.133804","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"mqtt","service":"publish","data":"{   \"payload\": \"f97E2C\",   \"topic\": \"tele/bridge/RESULT\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":2220,"wires":[[]]},{"id":"79643697.09a2e8","type":"comment","z":"e6e99f7e.4c388","name":"Telecomando sonoff","info":"","x":130,"y":2160,"wires":[]},{"id":"ad0fc792.0542d8","type":"comment","z":"e6e99f7e.4c388","name":"Sensore letto","info":"","x":110,"y":2800,"wires":[]},{"id":"6ecde2ef.3d5a9c","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.letto","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":2880,"wires":[["efad9631.b12358","6ec8df6f.66628","3688ccc.bc83a34"],[]]},{"id":"734cc620.984b68","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"45.67833","lon":"12.16674","startTime":"06:00","endTime":"12:00","startOffset":0,"endOffset":0,"x":610,"y":2920,"wires":[["e95534db.7487a8"],[]]},{"id":"efad9631.b12358","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"45.67833","lon":"12.16674","startTime":"18:00","endTime":"9:00","startOffset":0,"endOffset":0,"x":430,"y":2840,"wires":[["85cca150.c5e94"],[]]},{"id":"2744d383.e1cd6c","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\" light.02200466b4e62d07bd0c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":2840,"wires":[["342fb8c3.2a3978"]]},{"id":"85cca150.c5e94","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.cameranic","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":2840,"wires":[["2744d383.e1cd6c"],[]]},{"id":"5dbde8d4.b39f68","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":0,"service_domain":"mqtt","service":"publish","data":"{\"payload\":\"BCEDA1\",\"topic\":\"tele/bridge/RESULT\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":3000,"wires":[[]]},{"id":"6ec8df6f.66628","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":3000,"wires":[["5dbde8d4.b39f68"]]},{"id":"8e9c00bf.13b3b","type":"poll-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"updateinterval":"20","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"binary_sensor.letto","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":160,"y":3000,"wires":[["5dbde8d4.b39f68"],[]]},{"id":"342fb8c3.2a3978","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":2840,"wires":[["a969532b.19042"]]},{"id":"a969532b.19042","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\" light.02200466b4e62d07bd0c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":2840,"wires":[[]]},{"id":"3688ccc.bc83a34","type":"trigger","z":"e6e99f7e.4c388","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"7","extend":false,"units":"hr","reset":"","bytopic":"all","name":"","x":430,"y":2920,"wires":[["734cc620.984b68"]]},{"id":"eac47621.88a1a8","type":"mqtt in","z":"4944792e.b2d158","d":true,"name":"","topic":"clima_on","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":80,"y":80,"wires":[["2d4bb22f.afe7fe"]]},{"id":"94d67476.ec8fc8","type":"server-events","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","event_type":"","x":100,"y":3240,"wires":[["bc230588.f846f8"]]},{"id":"bc230588.f846f8","type":"switch","z":"e6e99f7e.4c388","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"SENTRATA","vt":"str"},{"t":"eq","v":"SGARAGE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":3240,"wires":[["a53c4783.56ecf8"],["f7ba1dae.8fa69"]]},{"id":"43bca274.d9a8ec","type":"comment","z":"e6e99f7e.4c388","name":"Notifiche azionabili sensori di movimento","info":"","x":200,"y":3140,"wires":[]},{"id":"a53c4783.56ecf8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":"1","debugenabled":false,"service_domain":"automation","service":"turn_off","entityId":"automation.test_ir_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":3220,"wires":[["d13cd45c.2aecc8"]]},{"id":"f7ba1dae.8fa69","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":"1","debugenabled":false,"service_domain":"automation","service":"turn_off","entityId":"automation.movimento_garage_notifica","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":3260,"wires":[["50b8a26d.8d4d9c"]]},{"id":"d13cd45c.2aecc8","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":3220,"wires":[["a366b5b3.a4a438"]]},{"id":"50b8a26d.8d4d9c","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":3260,"wires":[["8c86ca0b.a7a2d8"]]},{"id":"a366b5b3.a4a438","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_on","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":3220,"wires":[[]]},{"id":"8c86ca0b.a7a2d8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_on","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":3260,"wires":[[]]},{"id":"9189b60f.5adab8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.corridoio\",\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/1sec.mp3\",\"media_content_type\":\"audio/mp4\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":2100,"wires":[[]]},{"id":"e3aaeda4.4c6fc","type":"switch","z":"e6e99f7e.4c388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":2100,"wires":[["9189b60f.5adab8"],["9189b60f.5adab8"],["9189b60f.5adab8"]]},{"id":"2a1c20b1.54684","type":"poll-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"updateinterval":"120","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"media_player.corridoio","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"does_not_include","outputs":1,"x":170,"y":2100,"wires":[["e3aaeda4.4c6fc"]]},{"id":"f7fc7bc2.f08858","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.tasto_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":2340,"wires":[["2cf8196c.c60986"],[]]},{"id":"2cf8196c.c60986","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.principale, light.scrivania, light.02200466b4e62d07bd0c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2340,"wires":[["bfd7314f.0dfdf"]]},{"id":"bfd7314f.0dfdf","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"mqtt","service":"publish","data":"{   \"payload\": \"f97E24\",   \"topic\": \"tele/bridge/RESULT\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":2340,"wires":[[]]},{"id":"b83e1dc5.b7f15","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.tasto_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":2400,"wires":[["f4316813.b205d8"],[]]},{"id":"f4316813.b205d8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2400,"wires":[["1d5a5211.1fd62e"]]},{"id":"1d5a5211.1fd62e","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":2400,"wires":[["8f8e7fba.0b6a1"]]},{"id":"8f8e7fba.0b6a1","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"mqtt","service":"publish","data":"{   \"payload\": \"f97E29\",   \"topic\": \"tele/bridge/RESULT\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":2400,"wires":[[]]},{"id":"585fde71.8fe1b","type":"inject","z":"4944792e.b2d158","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["2d4bb22f.afe7fe"]]},{"id":"c3c7f3c8.c5c07","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.riscaldamento","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":340,"wires":[["bf04c9b3.350618"],["da44914d.34e66"]]},{"id":"bf04c9b3.350618","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"È già acceso\",\"title\":\"Riscaldamento\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":320,"wires":[[]]},{"id":"da44914d.34e66","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.festra_centrale","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":360,"wires":[["4e9d65fd.f49fec"],["92108f6e.59854"]]},{"id":"4e9d65fd.f49fec","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.festra_divano","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1030,"y":340,"wires":[["2c7b7de2.c176a2"],["92108f6e.59854"]]},{"id":"92108f6e.59854","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"c'è almeno una finestra aperta, il riscaldamento non è partito\",\"title\":\"Riscaldamento\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":380,"wires":[[]]},{"id":"2c7b7de2.c176a2","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.finestra_letto","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1400,"y":340,"wires":[["1eb11d42.96b0c3"],["92108f6e.59854"]]},{"id":"1eb11d42.96b0c3","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porta_camera","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1770,"y":340,"wires":[["87d5406b.01cd4"],["1fe76f09.382c81"]]},{"id":"87d5406b.01cd4","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"data\":{\"push\":{\"badge\":0,\"category\":\"clima\"}},\"message\":\"la porta della camera è aperta. vado?\",\"title\":\"Riscaldamento\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2510,"y":300,"wires":[[]]},{"id":"1fe76f09.382c81","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":"1","debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2480,"y":340,"wires":[["82cc921.3527e7"]]},{"id":"82cc921.3527e7","type":"join","z":"4944792e.b2d158","name":"Semplifica notifica","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"2","reduceInitType":"num","reduceFixup":"","x":2710,"y":340,"wires":[["b240abfc.73ffd8"]]},{"id":"447f64a8.25136c","type":"trigger","z":"4944792e.b2d158","op1":"A","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"invia \"A\" per attivare l'altro dispositivo","x":2530,"y":440,"wires":[["1fe76f09.382c81","82cc921.3527e7"]]},{"id":"b240abfc.73ffd8","type":"api-call-service","z":"4944792e.b2d158","name":"Notifica NICCOLO aria ACCESA","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"acceso\",\"title\":\"Riscaldamento\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2970,"y":340,"wires":[[]]},{"id":"e8fa523d.a2d25","type":"switch","z":"4944792e.b2d158","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"ACLIMA","vt":"str"},{"t":"eq","v":"SCLIMA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":460,"wires":[["447f64a8.25136c"],["4008bcae.6c2054"]]},{"id":"fe24f149.3e26e","type":"server-events","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","event_type":"","x":2140,"y":460,"wires":[["e8fa523d.a2d25"]]},{"id":"4008bcae.6c2054","type":"api-call-service","z":"4944792e.b2d158","name":"Notifica NICCOLO aria **NON** ACCESA","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"ok non lo accendo\",\"title\":\"Riscaldamento\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2540,"y":480,"wires":[[]]},{"id":"cc03ef90.ebf66","type":"comment","z":"e6e99f7e.4c388","name":"Controlla che le luci non vengano spente per sbaglio","info":"","x":230,"y":3360,"wires":[]},{"id":"43aba232.1d630c","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"light.06200231b4e62d1f2741","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":3420,"wires":[["723e6426.45c87c"],[]]},{"id":"723e6426.45c87c","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"45.66979","lon":"12.24136","startTime":"18:16","endTime":"06:44","startOffset":0,"endOffset":0,"x":500,"y":3420,"wires":[["4ca8e755.ebc1e8"],[]]},{"id":"4ca8e755.ebc1e8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_on","entityId":"light.06200231b4e62d1f2741","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":3420,"wires":[[]]},{"id":"4ea51942.517c98","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"service_domain":"notify","service":"html_macbook_niccolo","entityId":"","data":"{\"title\":\"Dashboard\",\"message\":\"http://{{payload}}\",\"data\":{\"url\":\"http://{{payload}}\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":3540,"wires":[["e0e3a425.21fc58"]]},{"id":"e0e3a425.21fc58","type":"debug","z":"75ea38.3ea445c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1600,"y":3600,"wires":[]},{"id":"fd2b2a94.bd7828","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":3640,"wires":[["481f3d6f.090984","f8355b53.f93838"]]},{"id":"481f3d6f.090984","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"service_domain":"notify","service":"html5_dismiss","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":3640,"wires":[[]]},{"id":"f8355b53.f93838","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"notification_id\":\"ngrok\",\"title\":\"Questa è la url della Dashboard\",\"message\":\"## [Clicca Qui](http://{{payload}}) \\n **Ricordati che ogni volta che riavvi la dashboard la sua url cambia e può cambiare nel tempo anche nel caso in cui non venga riavviata!**\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":3680,"wires":[[]]},{"id":"6d1afb2.c87ba04","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":3940,"wires":[["19840373.fc4b1d"]]},{"id":"19840373.fc4b1d","type":"mqtt out","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"","retain":"","broker":"f4039982.89ab38","x":360,"y":3940,"wires":[]},{"id":"7357a9a7.dff968","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"notification_id\":\"update\",\"title\":\"Aggiornamento\",\"message\":\"# **Una nuova Versione è disponibile!**\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":4040,"wires":[[]]},{"id":"d8927458.1c1208","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.updater","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":4040,"wires":[["7357a9a7.dff968"],["4235af4f.d3b1"]]},{"id":"4235af4f.d3b1","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"persistent_notification","service":"dismiss","entityId":"","data":"{\"notification_id\":\"update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":4080,"wires":[[]]},{"id":"9b66cc9.1e9983","type":"mqtt in","z":"e6e99f7e.4c388","name":"","topic":"vacuum/command","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":130,"y":4280,"wires":[["6758ef1d.bd1fc"]]},{"id":"6758ef1d.bd1fc","type":"switch","z":"e6e99f7e.4c388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"return_to_base","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":300,"y":4280,"wires":[["944d500f.0e85f"],["f2ad9c11.6bdbe"],["f2ad9c11.6bdbe"]]},{"id":"f00be10f.40b14","type":"mqtt out","z":"e6e99f7e.4c388","name":"","topic":"vacuum/state","qos":"","retain":"","broker":"f4039982.89ab38","x":890,"y":4280,"wires":[]},{"id":"edd72ebd.da52","type":"change","z":"e6e99f7e.4c388","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\" : \"cleaning\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":4260,"wires":[["f00be10f.40b14"]]},{"id":"33abc8d4.2cfcb8","type":"change","z":"e6e99f7e.4c388","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\" : \"idle\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":4300,"wires":[["f00be10f.40b14"]]},{"id":"944d500f.0e85f","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"broadlink","service":"send","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":4260,"wires":[["edd72ebd.da52"]]},{"id":"f2ad9c11.6bdbe","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"broadlink","service":"send","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":4300,"wires":[["33abc8d4.2cfcb8"]]},{"id":"aac8611e.bd9d1","type":"comment","z":"e6e99f7e.4c388","name":"Aspirapolvere Camera","info":"","x":140,"y":4220,"wires":[]},{"id":"f6b3486e.a39448","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 18 * * *","once":false,"onceDelay":0.1,"x":130,"y":3560,"wires":[["5c0e150b.86cdfc"]]},{"id":"5c0e150b.86cdfc","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_on","entityId":"light.06200231b4e62d1f2741","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":3560,"wires":[["fbdd0eb0.48a55"]]},{"id":"49065453.bb73cc","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 06 * * *","once":false,"onceDelay":0.1,"x":130,"y":3620,"wires":[["49d58d69.0dffb4"]]},{"id":"49d58d69.0dffb4","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_off","entityId":"light.06200231b4e62d1f2741","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":3620,"wires":[["4b926a3.1cc8694"]]},{"id":"24b589a9.1a7e86","type":"comment","z":"e6e99f7e.4c388","name":"Accensione / Spegnimento Luci Esterno","info":"","x":200,"y":3500,"wires":[]},{"id":"fbdd0eb0.48a55","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_on","entityId":"light.865003063c71bf23a142","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3560,"wires":[[]]},{"id":"4b926a3.1cc8694","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_off","entityId":"light.865003063c71bf23a142","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3620,"wires":[[]]},{"id":"2f2c8dab.7e0172","type":"server-state-changed","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"group.famiglia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":100,"wires":[["c62657ac.d737e8"],[]]},{"id":"c62657ac.d737e8","type":"api-current-state","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_10003eff18","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":100,"wires":[["2e3a0cb6.4257e4"],[]]},{"id":"2e3a0cb6.4257e4","type":"time-range-switch","z":"1e01d294.b4d1cd","name":"","lat":"45.64197","lon":"12.19127","startTime":"08:00","endTime":"21:30","startOffset":0,"endOffset":0,"x":740,"y":100,"wires":[["2def397c.f7e6e6"],[]]},{"id":"2def397c.f7e6e6","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_10003eff18","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":100,"wires":[[]]},{"id":"60c4bac6.c25914","type":"comment","z":"1e01d294.b4d1cd","name":"Accendi / Spegni luce arancione","info":"","x":170,"y":60,"wires":[]},{"id":"47b5fe77.88704","type":"server-state-changed","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"group.famiglia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":140,"wires":[["33a9733d.6db8ac"],[]]},{"id":"33a9733d.6db8ac","type":"api-current-state","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_10003eff18","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":140,"wires":[["854950a8.acfb"],[]]},{"id":"854950a8.acfb","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_10003eff18","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":140,"wires":[[]]},{"id":"44613f78.2a52e","type":"inject","z":"1e01d294.b4d1cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["2511f115.8ff76e"]]},{"id":"2511f115.8ff76e","type":"api-current-state","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_10003eff18","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":180,"wires":[["23235a06.ae4a26"],[]]},{"id":"23235a06.ae4a26","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_10003eff18","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":180,"wires":[[]]},{"id":"436d58e3.8cbe78","type":"mqtt in","z":"1e01d294.b4d1cd","name":"","topic":"vacuum1/command","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":130,"y":340,"wires":[["cbc269b2.776b58"]]},{"id":"cbc269b2.776b58","type":"switch","z":"1e01d294.b4d1cd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"return_to_base","vt":"str"},{"t":"eq","v":"clean_spot","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":300,"y":340,"wires":[["b698367c.b7ee58"],["bcfce183.9004b"],["e796f7ef.851528"],["abc57683.661428"]]},{"id":"b698367c.b7ee58","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"broadlink","service":"send","entityId":"","data":"{\"host\":\"192.168.1.48\",\"packet\":\"JgCuAWNkEBERMRExEREQMREQERAREBEyEDIRMRExEREQMhEQETASEBMOEBEQEREQEw4REBEQEREQERARERAREBEQERARERAREDIRDxMwEDISMBEQETIQAAKgZ2MREBExETIQERAxEg8TDxAREDIQMhExETERERAyERARMREPFA4REBEQEw4TDhEREBEQEREQERAREBEQEREQERARERARMREQEy8QMhMvEREQMhEAAqRkYBQQETERMhAREDESDxIQEBEQMhExETERMhARETEREBExEQ8SEBEQERARERIPEBEQEBIQERAREBEREA8SEREQERAREBEvExARMRExEzAQERExEQACo2VhEREQMhExERARMREQERAREBExETIRMRExEREQMhEQETEREBARERAREBEQEw8QERARERAREBEQERARERAREBEREBEQETEREBExETETMBARETERAAKiZmEREBEyEDIREBExERARDxEREDIRMREyEDIREBExERARMREQEQ4TEBEQERESDxARERAREBEQERARERAREBEQEREQERARMREQETEQMhIwERARMhAADQUAAAAAAAAAAAAA\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":300,"wires":[["eff3f5cb.3e5a58"]]},{"id":"bcfce183.9004b","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"broadlink","service":"send","entityId":"","data":"{\"host\":\"192.168.1.48\",\"packet\":\"JgCuAWNkEQ0UMRIwEhARMREQERAQEBEyETESMBIxERAREBEQERASDxEREBEQERAQERARERAREBEQEBIQERAUDRIPEhAQERARETEREBIxEDEREBEQERASAAKkY2QREBExETESDxIxEBEQEBEPEjIQMhIwEjASDxEREBEREBEQEg8REBEREBAREBEQERAREBIQEBAREREQERAREBIQEBARMhEREDIRMBEREBAREBEAAqNjZBEPEjESMBIQEDISDxEQEBEQMhExETESMREQEQ8SEBIPEg8REREQEBERDxEQERARERARERAREBEQERAWCxEREBEQERExERASMRAxERAREBEREAACpGNjERARMhAyERARMREQERAQERExETIQMhExERAREBEREBEQEREQERARDxIQEBEQEREQERAREBEQERARERAREBEREBEQETERERAyETAREBEREBEQAAKkZmAREBEyEDIREBExERAREBARETERMREyEDIREBEQEQ4TEBEREBEQERAQERAREBEQEREQEBEREBEREBEQERAREBEQEREQMhEQETERMBEREBEQEREADQUAAAAAAAAAAAAA\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":340,"wires":[["87c299aa.138618"]]},{"id":"eff3f5cb.3e5a58","type":"change","z":"1e01d294.b4d1cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\" : \"cleaning\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["180d5ee1.600011"]]},{"id":"87c299aa.138618","type":"change","z":"1e01d294.b4d1cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\" : \"idle\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":340,"wires":[["180d5ee1.600011"]]},{"id":"180d5ee1.600011","type":"mqtt out","z":"1e01d294.b4d1cd","name":"","topic":"vacuum1/state","qos":"","retain":"","broker":"f4039982.89ab38","x":890,"y":340,"wires":[]},{"id":"abc57683.661428","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"broadlink","service":"send","entityId":"","data":"{\"host\":\"192.168.1.48\",\"packet\":\"JgCuAWRjEBEQMhIwERASMRAQERAREBEQERARDxIyEQ4TEBIwERASDxIPEREQERARERAREBEQEQ4SEBEREBEQEREQERASDxEQETIQMhExEjAREBAyEBERAAKiZGMSDxIxEDESEBAyEBARERAQERAREBEREDIQEBIQETEREBEQEREQEREPEREREBEQEQwUERAREA8SEREQERASDxIPEg8RMhAyEjASMBEPEjEQERAAAqVjYxIPEjERMREQETESDhEREBEQEg8RERARMRIPERERMRMOEg8REBEQERATDw8SEBEQERAQERAQEREQEhAQEREQEBEREBExETESMRExEg8RMRAREAACpGJkEQ8RMhExEg4SMhAQEREQEBEQERAREBEyERASDhIxEg4SEBEREBEQEREQERAREBEQEBARERAQEREREBEQERAREBEQEjASMRExEjAREBAyEBERAAKiYmUSDxExEjEREBExERARDRMREBEQDRUQETESDxEQEjEREBEQEQ4TEBEQEhAVDBAREBEQEBEQFgwQEBIQEBEQEREQERASMBEyETERMREQEDIQDxcADQUAAAAAAAAAAAAA\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":420,"wires":[["ce3d56e2.d9a9b8"]]},{"id":"ce3d56e2.d9a9b8","type":"change","z":"1e01d294.b4d1cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\" : \"cleaning\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":420,"wires":[["180d5ee1.600011"]]},{"id":"e796f7ef.851528","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"broadlink","service":"send","entityId":"","data":"{\"host\":\"192.168.1.48\",\"packet\":\"JgCsAWNkEBEYKhMvEw8XKhIPEg8RETQOEA8TEBMvETERMhYsERATDhMPEg4TDhMLFgsWDhUMERATDxIPEg8TCxYOEw4TDhMwEy8TLxEQEy8RMRMvEwACoWNjERARMhExERARMREQERAQERMOEwoXCxQREDIRMRExETIQEREQERAREBEQEBEQERAREBEREBEQERARERARERAQEREQETERMRExERARMREyEDIRAAKkY2QQDhMyETASDxIyEBAREBEOExAREBEREBEQMhExETERMhARERAWCxAREBEQERARFgsREBEQERARERUMERAREBEQERARMhExEjAREBAyETERMRIAAqFkYxEQETERMhEQETEREBEQERAQEREQERAQEREyEDIRMRIwERAREREQEQ4SEBEREBEQERARERAREBIPEg8RERARERAREBExETERMREQETERMhExEgACoWRjEg4SMRIxERASMBEQERARDRMRERAREBEPEjIQMhExETERERAOExERDxIPEREQDxIREBEQEREQEQ4TEBEQEREQERAREDESMRYsEBERMRYsETIQAA0FAAAAAAAAAAAAAAAA\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":380,"wires":[["e6c749d4.6dba48"]]},{"id":"e6c749d4.6dba48","type":"change","z":"1e01d294.b4d1cd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\" : \"docked\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["180d5ee1.600011"]]},{"id":"b72ef9a4.8f5e88","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.tasto_7","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":2460,"wires":[["81216bfc.ab7fe8"],[]]},{"id":"81216bfc.ab7fe8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":"1","service_domain":"vacuum","service":"start","entityId":"vacuum.robot_aspirapolvere_nero","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":2460,"wires":[["f508fb10.79feb8"]]},{"id":"f508fb10.79feb8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":"1","service_domain":"mqtt","service":"publish","entityId":"","data":"{   \"payload\": \"f97E21\",   \"topic\": \"tele/bridge/RESULT\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":2460,"wires":[[]]},{"id":"7441e6fb.3a27a8","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.tasto_8","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":2520,"wires":[["730f2ee6.cb3ca"],[]]},{"id":"734f834b.dd7ebc","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":"1","service_domain":"mqtt","service":"publish","entityId":"","data":"{   \"payload\": \"f97E23\",   \"topic\": \"tele/bridge/RESULT\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":2520,"wires":[[]]},{"id":"730f2ee6.cb3ca","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.robot_aspirapolvere_nero","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":2520,"wires":[["734f834b.dd7ebc"]]},{"id":"45b8b0dd.cdeb2","type":"mqtt in","z":"1e01d294.b4d1cd","name":"","topic":"hawelcome","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":740,"wires":[["b8e7731f.d484e","5fc76a.97c64898"]]},{"id":"b8e7731f.d484e","type":"time-range-switch","z":"1e01d294.b4d1cd","name":"","lat":"45.67613","lon":"12.23639","startTime":"07:28","endTime":"16:35","startOffset":0,"endOffset":0,"x":290,"y":740,"wires":[["5b8be720.aae3e8"],[]]},{"id":"61c314df.46643c","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_off","entityId":"light.06200231b4e62d1f2741","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":740,"wires":[["bdb4e766.d9c8e8"]]},{"id":"bdb4e766.d9c8e8","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_off","entityId":"light.865003063c71bf23a142","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":740,"wires":[["e16e42f0.cf1f9"]]},{"id":"e16e42f0.cf1f9","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_off","entityId":"light.60707618ecfabc23078c","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":740,"wires":[[]]},{"id":"5b8be720.aae3e8","type":"delay","z":"1e01d294.b4d1cd","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":740,"wires":[["61c314df.46643c"]]},{"id":"5fc76a.97c64898","type":"delay","z":"1e01d294.b4d1cd","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":780,"wires":[["a1d02056.a50c1","a8c07172.dd6a5"]]},{"id":"738a7cbd.b50304","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.0830605384f3eb793a33_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":780,"wires":[["4a44eeb2.8b821"]]},{"id":"4a44eeb2.8b821","type":"delay","z":"1e01d294.b4d1cd","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":780,"wires":[["1259e8cb.556da7"]]},{"id":"1259e8cb.556da7","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_off","entityId":"light.0220046668c63aaf5b32","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":780,"wires":[[]]},{"id":"a1d02056.a50c1","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_off","entityId":"light.02200466b4e62d07bd0c","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":840,"wires":[[]]},{"id":"a8c07172.dd6a5","type":"api-current-state","z":"1e01d294.b4d1cd","name":"se presa letto spenta","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.0830605384f3eb793a33_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":580,"y":780,"wires":[["738a7cbd.b50304"],[]]},{"id":"b10f40f8.abaeb","type":"comment","z":"1e01d294.b4d1cd","name":"Sistema le luci dopo la caduta di corrente","info":"","x":200,"y":680,"wires":[]},{"id":"90fe1532.9a0eb8","type":"server-state-changed","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"device_tracker.niccolo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1020,"wires":[["b7186e1d.7404a"],[]]},{"id":"304fdcb6.ad4494","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["be60d5f9.0c00f8"]]},{"id":"fddf0b6e.b6c9d8","type":"inject","z":"1e01d294.b4d1cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":500,"wires":[["b698367c.b7ee58"]]},{"id":"e06e672.77d5398","type":"comment","z":"1e01d294.b4d1cd","name":"Bentornato Niccolò","info":"","x":130,"y":980,"wires":[]},{"id":"b7186e1d.7404a","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"data\":{\"push\":{\"badge\":0,\"category\":\"bentornato\"}},\"message\":\"\",\"title\":\"Bentornato a casa!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1020,"wires":[[]]},{"id":"f88e25ee.c54238","type":"server-events","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","event_type":"","x":780,"y":1020,"wires":[["4ef99ab6.435c24"]]},{"id":"4ef99ab6.435c24","type":"switch","z":"1e01d294.b4d1cd","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"CAMPANELLO","vt":"str"},{"t":"eq","v":"CANCELLETTO","vt":"str"},{"t":"eq","v":"CAMP-CANC","vt":"str"},{"t":"eq","v":"CLIMABH","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":910,"y":1020,"wires":[["a7590aa6.5c6948"],["1a38cd3e.c8a183"],["d8966142.0869d"],["b0daefaa.9e97b"]]},{"id":"a7590aa6.5c6948","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"media_player","service":"play_media","entityId":"group.avvisi","data":"{\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/campanello.mp3\",\"media_content_type\":\"audio/mp4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":1000,"wires":[["db845f57.df77d"]]},{"id":"1a38cd3e.c8a183","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.050305515002914a4af5","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1040,"wires":[["306cc8ef.dc1b48"]]},{"id":"306cc8ef.dc1b48","type":"delay","z":"1e01d294.b4d1cd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":1040,"wires":[["db25226f.4b438"]]},{"id":"7581358.b1ecdcc","type":"server-events","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","event_type":"","x":100,"y":1220,"wires":[["78a15302.ef088c"]]},{"id":"78a15302.ef088c","type":"switch","z":"1e01d294.b4d1cd","name":"","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"ios.action_fired","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1220,"wires":[["8feb35c0.ffa778","fc76ac0c.9ad98"]]},{"id":"8feb35c0.ffa778","type":"switch","z":"1e01d294.b4d1cd","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"Apri Cancelletto","vt":"str"},{"t":"eq","v":"ddd","vt":"str"},{"t":"eq","v":"Spegni Riscaldamento","vt":"str"},{"t":"eq","v":"Accendi Riscaldamento","vt":"str"},{"t":"eq","v":"Accendi Camera","vt":"str"},{"t":"eq","v":"Spegni Camera","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":470,"y":1220,"wires":[["4df0050c.d4819c"],[],["dd8f8f7.c7c287"],["68e9a162.cbc58"],["1695203b.4405b","3be1616e.96f0be"],["6af90bc7.c3e144","9025066e.c33118"]]},{"id":"fc76ac0c.9ad98","type":"debug","z":"1e01d294.b4d1cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":1300,"wires":[]},{"id":"dd8f8f7.c7c287","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":1240,"wires":[["d86891e1.b9e24"]]},{"id":"d86891e1.b9e24","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1240,"wires":[["2c1b8640.3aa10a"]]},{"id":"2c1b8640.3aa10a","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":1240,"wires":[[]]},{"id":"68e9a162.cbc58","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":1280,"wires":[["12f3ee29.b46842"]]},{"id":"12f3ee29.b46842","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1280,"wires":[["5f993246.c6671c"]]},{"id":"5f993246.c6671c","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":1280,"wires":[[]]},{"id":"6af90bc7.c3e144","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":0,"service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.principale, light.scrivania, light.02200466b4e62d07bd0c, light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1360,"wires":[[]]},{"id":"9025066e.c33118","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":1360,"wires":[[]]},{"id":"1695203b.4405b","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.principale, light.scrivania, light.02200466b4e62d07bd0c, light.0220046668c63aaf5b32","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1320,"wires":[[]]},{"id":"3be1616e.96f0be","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_10003eff4b","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":1320,"wires":[[]]},{"id":"4df0050c.d4819c","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.1574527157956","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1160,"wires":[[]]},{"id":"199dd7e9.798cf8","type":"comment","z":"1e01d294.b4d1cd","name":"Azioni iOS","info":"","x":100,"y":1140,"wires":[]},{"id":"75c24dcf.2dd3a4","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"media_player","service":"play_media","entityId":"group.avvisi","data":"{\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/campanello.mp3\",\"media_content_type\":\"audio/mp4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":1100,"wires":[["de50971f.b91b68"]]},{"id":"d8966142.0869d","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.050305515002914a4af5","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1100,"wires":[["75c24dcf.2dd3a4"]]},{"id":"db845f57.df77d","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"Ho suonato il campanello!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":1000,"wires":[[]]},{"id":"db25226f.4b438","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"Cancelletto Aperto!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":1040,"wires":[[]]},{"id":"de50971f.b91b68","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"message\":\"Fatto!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1650,"y":1100,"wires":[[]]},{"id":"b0daefaa.9e97b","type":"link out","z":"1e01d294.b4d1cd","name":"","links":["b51e8.227a8e19"],"x":1015,"y":1140,"wires":[]},{"id":"b51e8.227a8e19","type":"link in","z":"4944792e.b2d158","name":"","links":["b0daefaa.9e97b"],"x":80,"y":340,"wires":[["c3c7f3c8.c5c07"]]},{"id":"bfa417d.9ac4ae8","type":"mqtt in","z":"1e01d294.b4d1cd","name":"","topic":"tele/bridge/RESULT","qos":"2","datatype":"json","broker":"f4039982.89ab38","x":130,"y":1700,"wires":[["7505c1c6.edac6"]]},{"id":"7505c1c6.edac6","type":"switch","z":"1e01d294.b4d1cd","name":"","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"40E50E","vt":"str"},{"t":"eq","v":"40E50A","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1700,"wires":[["8fc6049e.052428","64a92679.195108","b8bf29b6.647238"],["8fc6049e.052428","64a92679.195108","b8bf29b6.647238"]]},{"id":"8fc6049e.052428","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"service_domain":"media_player","service":"play_media","entityId":"group.avvisi","data":"{\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/campanello.mp3\",\"media_content_type\":\"audio/mp4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":1700,"wires":[["6bd32c8c.f2cc34"]]},{"id":"64a92679.195108","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"payload\":\"810532\",\"topic\":\"tele/bridge/RESULT\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":1740,"wires":[["44038d8c.d5f394"]]},{"id":"44038d8c.d5f394","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"payload\":\"810533\",\"topic\":\"tele/bridge/RESULT\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1740,"wires":[[]]},{"id":"b8bf29b6.647238","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"","data":"{\"entity_id\":\"camera.cancelletto_crop\",\"filename\":\"/config/www/cancelletto.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1780,"wires":[["ff5ec051.28d01"]]},{"id":"ff5ec051.28d01","type":"delay","z":"1e01d294.b4d1cd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1780,"wires":[["1ee7caee.a89f05"]]},{"id":"1ee7caee.a89f05","type":"api-call-service","z":"1e01d294.b4d1cd","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_niccolo","entityId":"","data":"{\"data\":{\"attachment\":{\"content-type\":\"jpg\",\"url\":\"/local/cancelletto.jpg\"},\"push\":{\"badge\":0,\"category\":\"bentornato\"}},\"message\":\"qualcuno ha suonato il campanello\",\"title\":\"Campanello\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":1780,"wires":[[]]},{"id":"6bd32c8c.f2cc34","type":"link out","z":"1e01d294.b4d1cd","name":"","links":["7dced5ea.a7b8bc"],"x":795,"y":1700,"wires":[]},{"id":"7dced5ea.a7b8bc","type":"link in","z":"e6e99f7e.4c388","name":"","links":["6bd32c8c.f2cc34"],"x":315,"y":660,"wires":[["db8f3f03.c817d","76b85670.7954c8"]]},{"id":"c3e74793.faa168","type":"inject","z":"1e01d294.b4d1cd","name":"","topic":"","payload":"40E50E","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1760,"wires":[["b05fcb71.45e488"]]},{"id":"b05fcb71.45e488","type":"change","z":"1e01d294.b4d1cd","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.RfReceived.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1800,"wires":[["7505c1c6.edac6","ae557e5a.46e6e"]]},{"id":"ae557e5a.46e6e","type":"debug","z":"1e01d294.b4d1cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.RfReceived.Data","targetType":"msg","x":460,"y":1840,"wires":[]},{"id":"a93c89f8.883608","type":"inject","z":"1e01d294.b4d1cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1100,"wires":[["b7186e1d.7404a"]]},{"id":"d653a2be.7efaa","type":"comment","z":"4944792e.b2d158","name":"Se apro finestre spegni clima","info":"","x":140,"y":500,"wires":[]},{"id":"14b00297.c3b69d","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.riscaldamento","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":560,"wires":[["bc4e7bc6.429cc8"],[]]},{"id":"4a433457.502acc","type":"server-state-changed","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.festra_centrale","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":560,"wires":[["14b00297.c3b69d"],[]]},{"id":"10ffba32.720206","type":"server-state-changed","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.festra_divano","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":600,"wires":[["14b00297.c3b69d"],[]]},{"id":"68d8a781.fe0f58","type":"server-state-changed","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.finestra_letto","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":640,"wires":[["14b00297.c3b69d"],[]]},{"id":"bc4e7bc6.429cc8","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.riscaldamento","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":560,"wires":[[]]},{"id":"88a89e91.addd9","type":"comment","z":"1e01d294.b4d1cd","name":"accendi/spegni usb ","info":"","x":330,"y":980,"wires":[]},{"id":"e95534db.7487a8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"media_player.camera","data":"{\"message\":\"Buongiorno, Attualmente è {{states.sensor.dark_sky_summary.state}} e ci sono {{states.sensor.temperatura_esterna.state}} gradi a Treviso, il telefono è al {{states.sensor.battery_level.state}} percento. \"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":2920,"wires":[[]],"info":"{{[\"Buongiorno.\",\"Ciao bellezza.\"] | random}} Attualmente è {{states.sensor.dark_sky_summary.state}} e ci sono {{ state_attr('weather.home','temperature',)|round(0) }} gradi a Treviso, il telefono è al {{states.sensor.battery_level.state}} percento; {% if now().strftime(\"%w\")|int > 0and now().strftime(\"%w\")|int < 6 %}Per andare in ufficio impiegherai {{states.sensor.time_to_work.attributes.duration|round}} minuti.  {% endif %}"},{"id":"b5bf1cd8.6fe91","type":"ha-entity","z":"75ea38.3ea445c8","name":"sensor.url_dashboard_2","server":"ca579b8.0255868","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Url Dashboard"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"url","value":"url","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","x":750,"y":4080,"wires":[[]]},{"id":"50f8d375.94393c","type":"function","z":"75ea38.3ea445c8","name":"","func":"var Newmsg = { payload: \"http://\"+msg.payload };\n\nreturn Newmsg;","outputs":1,"noerr":0,"x":570,"y":4080,"wires":[["b5bf1cd8.6fe91"]]},{"id":"b0776caa.b12bf","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"outputs":2,"halt_if":"9","halt_if_type":"num","halt_if_compare":"is_not","override_topic":true,"entity_id":"ngrok.public_url","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":4080,"wires":[["50f8d375.94393c"],[]]},{"id":"4bc7ca89.845ff4","type":"comment","z":"75ea38.3ea445c8","name":"Dashboard url","info":"","x":110,"y":4040,"wires":[]},{"id":"8beaeba8.6d9518","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_ele_and","entityId":"","data":"{\"title\":\"Cancelletto\",\"message\":\"Qualcuno ha suonato il campanello\",\"data\":{\"image\":\"/local/cancelletto.jpg\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":720,"wires":[[]]},{"id":"7403e0c7.38d44","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":800,"wires":[["8beaeba8.6d9518"]]},{"id":"5d9757fd.6423d8","type":"server-events","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","event_type":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":100,"y":3840,"wires":[["a9a6834a.2b656"]]},{"id":"a9a6834a.2b656","type":"switch","z":"e6e99f7e.4c388","name":"","property":"payload.event.service","propertyType":"msg","rules":[{"t":"eq","v":"volume_up","vt":"str"},{"t":"eq","v":"volume_down","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":3840,"wires":[["8a204875.6d6e78"],["a4df7f95.4e6af"]]},{"id":"8a204875.6d6e78","type":"switch","z":"e6e99f7e.4c388","name":"se volume su","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"media_player.this","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":3820,"wires":[["d9a4538a.1774a"]]},{"id":"a4df7f95.4e6af","type":"switch","z":"e6e99f7e.4c388","name":"se volume giù","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"media_player.this","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":3860,"wires":[["e81b5bb0.803c28"]]},{"id":"d9a4538a.1774a","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"script","service":"toggle","entityId":"script.1584355668016","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":3820,"wires":[[]]},{"id":"e81b5bb0.803c28","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"script","service":"toggle","entityId":"script.1584355701644","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":3860,"wires":[[]]},{"id":"41a7d08c.7d2df","type":"comment","z":"e6e99f7e.4c388","name":"indicatore volume stereo","info":"","x":150,"y":3800,"wires":[]},{"id":"c4d62e9e.fcb1e","type":"comment","z":"e6e99f7e.4c388","name":"Notifica aggiornamento","info":"","x":140,"y":3980,"wires":[]},{"id":"9586dbf3.7ecc28","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Movimenti dal Garage\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"https://casaniccolo.duckdns.org:8123/local/garage.jpg\", \"width\": 480\n  }}\n}","output":"str","x":440,"y":140,"wires":[["80ab8fc1.cd7f2"]]},{"id":"80ab8fc1.cd7f2","type":"http request","z":"3cf43879.afc288","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.233:7979/notify","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":140,"wires":[[]]},{"id":"e26354d5.684a58","type":"server-state-changed","z":"3cf43879.afc288","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pir_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":140,"wires":[["9586dbf3.7ecc28"],[]]},{"id":"7faab2c0.6d6cac","type":"server-state-changed","z":"3cf43879.afc288","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pir_esterno","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":200,"wires":[["6c899941.db72c8"],[]]},{"id":"6c899941.db72c8","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Movimenti dall' Ingresso\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"https://casaniccolo.duckdns.org:8123/local/test.jpg\", \"width\": 480\n  }}\n}","output":"str","x":440,"y":200,"wires":[["ff4179d8.c575d8"]]},{"id":"ff4179d8.c575d8","type":"http request","z":"3cf43879.afc288","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.241:7979/notify","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":200,"wires":[[]]},{"id":"7127feb4.16a75","type":"switch","z":"3cf43879.afc288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"Bar","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"Nonna Giusy","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":380,"wires":[["ceae0be1.39ad38"],["8f02880d.ee8d48"],["f76b340a.5e0848"],["5eb8108b.4e2cb"]]},{"id":"89797c74.d2749","type":"server-state-changed","z":"3cf43879.afc288","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_annalisa","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hhh","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":380,"wires":[["7127feb4.16a75"],[]]},{"id":"1add4128.1e93af","type":"http request","z":"3cf43879.afc288","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.241:7979/notify","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":340,"wires":[[]]},{"id":"ceae0be1.39ad38","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Annalisa è a Casa\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":340,"wires":[["1add4128.1e93af"]]},{"id":"8f02880d.ee8d48","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Annalisa è arrivata al Bar\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":380,"wires":[["1add4128.1e93af"]]},{"id":"f76b340a.5e0848","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Annalisa è uscita di Casa\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":420,"wires":[["1add4128.1e93af"]]},{"id":"5eb8108b.4e2cb","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Annalisa è dalla Giusy\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":460,"wires":[["1add4128.1e93af"]]},{"id":"5b3f75c9.b3fd3c","type":"switch","z":"3cf43879.afc288","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"Bar","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"Nonna Giusy","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":600,"wires":[["7a3d4ec9.fd3e7"],["e4233db7.6ba6e"],["1cec9106.c86dff"],["e33cbe38.03a1"]]},{"id":"45b989b4.fe7928","type":"server-state-changed","z":"3cf43879.afc288","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.ele_and","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hhh","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":600,"wires":[["5b3f75c9.b3fd3c"],[]]},{"id":"7a3d4ec9.fd3e7","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Claudio è a Casa\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":560,"wires":[["e56d7c35.94ec2"]]},{"id":"e4233db7.6ba6e","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Claudio è arrivato al Bar\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":600,"wires":[["e56d7c35.94ec2"]]},{"id":"1cec9106.c86dff","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Claudio è uscito di Casa\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":640,"wires":[["e56d7c35.94ec2"]]},{"id":"e33cbe38.03a1","type":"template","z":"3cf43879.afc288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"duration\": 30,\n  \"position\": 0,\n  \"title\": \"Claudio è dalla Giusy\",\n  \"titleColor\": \"#ffffff\",\n  \"titleSize\": 20,\n  \"messageColor\": \"#ffffff\",\n  \"messageSize\": 14,\n  \"backgroundColor\": \"#000000\",\n  \"media\": { \"image\": {\n    \"uri\": \"\", \"width\": 480\n  }}\n}","output":"str","x":680,"y":680,"wires":[["e56d7c35.94ec2"]]},{"id":"e56d7c35.94ec2","type":"http request","z":"3cf43879.afc288","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.241:7979/notify","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":560,"wires":[[]]},{"id":"ac874ba2.834898","type":"inject","z":"3cf43879.afc288","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":80,"wires":[["9586dbf3.7ecc28"]]},{"id":"241d944d.03712c","type":"server-state-changed","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"group.cameranic","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":120,"wires":[["c6760bcd.3ff748"],["5309bf63.719a"]]},{"id":"c6760bcd.3ff748","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_on","entityId":"light.kiosk","data":"{\"entity_id\":\"light.kiosk\",\"brightness\":700}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":140,"wires":[["5921af99.63818"]]},{"id":"5309bf63.719a","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_on","entityId":"light.kiosk","data":"{\"entity_id\":\"light.kiosk\",\"brightness\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":80,"wires":[[]]},{"id":"5921af99.63818","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"","service":"browser_mod","entityId":"close_popup","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":140,"wires":[[]]},{"id":"350a1e7f.0f0ce2","type":"server-state-changed","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kiosk","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":160,"wires":[["c6760bcd.3ff748"],[]]},{"id":"58cd9db6.ce79d4","type":"comment","z":"b28dec36.7924e","name":"Auto-dim kiosk camera","info":"","x":160,"y":60,"wires":[]},{"id":"2a64ef19.8cfad","type":"inject","z":"b28dec36.7924e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 22-23 * * *","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["5aad6399.01732c"]]},{"id":"5aad6399.01732c","type":"api-current-state","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.cameranic","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":340,"wires":[["7a424b2c.fac804"],[]]},{"id":"b6d5db8c.820918","type":"inject","z":"b28dec36.7924e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-5 * * *","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["5aad6399.01732c"]]},{"id":"8bb4a88e.bb0848","type":"inject","z":"b28dec36.7924e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":280,"wires":[["7a424b2c.fac804"]]},{"id":"1feecbdd.10b274","type":"comment","z":"b28dec36.7924e","name":"Screensaver su kiosk","info":"","x":160,"y":260,"wires":[]},{"id":"46fded63.c37d94","type":"server-state-changed","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pir_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":640,"wires":[["dfd5bce3.9cf6f"],[]]},{"id":"dfd5bce3.9cf6f","type":"delay","z":"b28dec36.7924e","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":640,"wires":[["79d9b9c2.697008","fe17864f.de43b8"]]},{"id":"79d9b9c2.697008","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.kiosk","data":"{\"media_content_id\":\"/local/to-the-point.mp3\",\"media_content_type\":\"audio/mp4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":640,"wires":[["20c4ed0e.70b172"]]},{"id":"20c4ed0e.70b172","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"popup","entityId":"","data":"{\"card\":{\"cards\":[{\"image\":\"/local/garage.jpg\",\"type\":\"picture\"}],\"type\":\"vertical-stack\"},\"title\":\"Movimenti dal garage\",\"deviceID\":\"Kiosk\",\"large\":\"true\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":640,"wires":[["ddedd5c9.f22ba8"]]},{"id":"ddedd5c9.f22ba8","type":"delay","z":"b28dec36.7924e","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":640,"wires":[["4cc72928.0a1a78"]]},{"id":"4cc72928.0a1a78","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"close_popup","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":640,"wires":[[]]},{"id":"c17e679b.0dd708","type":"server-state-changed","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pir_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":780,"wires":[["2e20f55f.d23f7a"],[]]},{"id":"2e20f55f.d23f7a","type":"delay","z":"b28dec36.7924e","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":780,"wires":[["6ede7903.925a48","2040b901.6cf786"]]},{"id":"6ede7903.925a48","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.kiosk","data":"{\"media_content_id\":\"/local/time-is-now.mp3\",\"media_content_type\":\"audio/mp4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":780,"wires":[["fddec17a.42fbc"]]},{"id":"fddec17a.42fbc","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"popup","entityId":"","data":"{\"card\":{\"cards\":[{\"image\":\"/local/test.jpg\",\"type\":\"picture\"}],\"type\":\"vertical-stack\"},\"title\":\"Movimenti dall'esterno\",\"deviceID\":\"Kiosk\",\"large\":\"true\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":780,"wires":[["6f3b4f62.c523f"]]},{"id":"6f3b4f62.c523f","type":"delay","z":"b28dec36.7924e","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":780,"wires":[["35e0fcb8.fbc1a4"]]},{"id":"35e0fcb8.fbc1a4","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"browser_mod","service":"close_popup","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":780,"wires":[[]]},{"id":"f8f65c9a.0c5b2","type":"inject","z":"b28dec36.7924e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["f77eaf27.7c68"]]},{"id":"f77eaf27.7c68","type":"api-current-state","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.cameranic","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":460,"wires":[["6e7d1723.d33798"],[]]},{"id":"7a424b2c.fac804","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"script","service":"1569165441993","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":340,"wires":[[]]},{"id":"6e7d1723.d33798","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"service_domain":"light","service":"turn_on","entityId":"light.kiosk","data":"{\"entity_id\":\"light.kiosk\",\"brightness\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":460,"wires":[[]]},{"id":"bfdbc6c4.7c5468","type":"comment","z":"b28dec36.7924e","name":"Se le luci sono spente allora lo schermo è dimmerato","info":"","x":260,"y":420,"wires":[]},{"id":"85a3a489.478e78","type":"comment","z":"b28dec36.7924e","name":"Notifiche esterno su kiosk","info":"","x":170,"y":540,"wires":[]},{"id":"fe17864f.de43b8","type":"time-range-switch","z":"b28dec36.7924e","name":"","lat":"45.7343","lon":"12.06845","startTime":"07:00","endTime":"21:01","startOffset":0,"endOffset":0,"x":650,"y":600,"wires":[["683069ab.0cce78"],[]]},{"id":"683069ab.0cce78","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kiosk","data":"{\"entity_id\":\"light.kiosk\",\"brightness\":700}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":600,"wires":[["9054bc51.624df"]]},{"id":"9054bc51.624df","type":"delay","z":"b28dec36.7924e","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":600,"wires":[["fb7a21fd.401cf"]]},{"id":"fb7a21fd.401cf","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kiosk","data":"{\"entity_id\":\"light.kiosk\",\"brightness\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":600,"wires":[[]]},{"id":"2040b901.6cf786","type":"time-range-switch","z":"b28dec36.7924e","name":"","lat":"45.7343","lon":"12.06845","startTime":"07:00","endTime":"21:01","startOffset":0,"endOffset":0,"x":650,"y":740,"wires":[["4fb67636.055da8"],[]]},{"id":"4fb67636.055da8","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kiosk","data":"{\"entity_id\":\"light.kiosk\",\"brightness\":700}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":740,"wires":[["d0cc577e.a492e8"]]},{"id":"d0cc577e.a492e8","type":"delay","z":"b28dec36.7924e","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":740,"wires":[["7f5e1374.1b4e8c"]]},{"id":"7f5e1374.1b4e8c","type":"api-call-service","z":"b28dec36.7924e","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kiosk","data":"{\"entity_id\":\"light.kiosk\",\"brightness\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":740,"wires":[[]]},{"id":"5fc5c982.bdda08","type":"inject","z":"b28dec36.7924e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":560,"wires":[["dfd5bce3.9cf6f"]]},{"id":"70f21e91.d72cd","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.eleonora","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":4440,"wires":[["9ddbf9ff.b36068"],[]]},{"id":"9ddbf9ff.b36068","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_ele_and","entityId":"","data":"{\"message\":\"\",\"title\":\"Bentontornata!\",\"data\":{\"actions\":[{\"action\":\"CAMP\",\"title\":\"Suona il campanello\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":4440,"wires":[[]]},{"id":"3ce5d52c.54544a","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":4380,"wires":[["9ddbf9ff.b36068"]]},{"id":"a2486563.8c0aa8","type":"switch","z":"e6e99f7e.4c388","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"CAMP","vt":"str"},{"t":"eq","v":"CAMP_c","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":4440,"wires":[["99f379fb.e042e8"],["c3976030.5f9b4"]]},{"id":"d0053fe4.d1502","type":"server-events","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","event_type":"","x":850,"y":4440,"wires":[["a2486563.8c0aa8"]]},{"id":"99f379fb.e042e8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"group.avvisi","data":"{\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/campanello.mp3\",\"media_content_type\":\"audio/mp4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":4420,"wires":[["86fe0b0d.a7b1e8"]]},{"id":"86fe0b0d.a7b1e8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_ele_and","entityId":"","data":"{\"message\":\"il campanello sta suonando\",\"title\":\"Fatto\",\"data\":{\"actions\":[{\"action\":\"CAMP\",\"title\":\"Ri-suona il campanello\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":4420,"wires":[[]]},{"id":"c8a59a01.5c2f08","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.life360_claudio","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":4520,"wires":[["79ef4bb6.ccc304"],[]]},{"id":"79ef4bb6.ccc304","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_claudio_and_d","entityId":"","data":"{\"message\":\"\",\"title\":\"Bentontornato!\",\"data\":{\"actions\":[{\"action\":\"CAMP_c\",\"title\":\"Suona il campanello\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":4520,"wires":[[]]},{"id":"ba3c5017.3375e","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":4560,"wires":[["79ef4bb6.ccc304"]]},{"id":"c3976030.5f9b4","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"group.avvisi","data":"{\"media_content_id\":\"https://casaniccolo.duckdns.org:8123/local/campanello.mp3\",\"media_content_type\":\"audio/mp4\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":4460,"wires":[["e55eca84.52aef8"]]},{"id":"e55eca84.52aef8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_claudio_and_d","entityId":"","data":"{\"message\":\"il campanello sta suonando\",\"title\":\"Fatto\",\"data\":{\"actions\":[{\"action\":\"CAMP\",\"title\":\"Ri-suona il campanello\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":4460,"wires":[[]]}]