node-red/flows.json
[{"id":"e2c37146.8e473","type":"tab","label":"MISS U MACHINE","disabled":false,"info":""},{"id":"e6e99f7e.4c388","type":"tab","label":"Tutto","disabled":false,"info":""},{"id":"4944792e.b2d158","type":"tab","label":"Clima","disabled":false,"info":""},{"id":"75ea38.3ea445c8","type":"tab","label":"Bridge Dashboard ipad","disabled":false,"info":""},{"id":"4efce580.ec165c","type":"tab","label":"Alexa","disabled":true,"info":""},{"id":"ecc21e8c.31d85","type":"mqtt-broker","z":"","name":"cloudmqtt","broker":"m16.cloudmqtt.com","port":"18557","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"nodeok","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4039982.89ab38","type":"mqtt-broker","z":"","name":"Local","broker":"core-mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10bfe013.d1e7a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ebb2d9f.eeabf","type":"mqtt-broker","z":"","name":"bridge cloud mqtt","broker":"postman.cloudmqtt.com","port":"16830","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ca23755.178198","type":"server","z":"","name":"Home Assistant Nonna","legacy":true,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"ca579b8.0255868","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"11ae3f19.6e8371","type":"alexa-home-conf","z":"","username":"busatoniccolo"},{"id":"af1fc031.f6c55","type":"server","z":"","name":"Dash","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"6a646af0.d2f814","type":"mqtt in","z":"e2c37146.8e473","name":"","topic":"esp_a","qos":"2","datatype":"auto","broker":"ecc21e8c.31d85","x":120,"y":220,"wires":[["f2ca1b54.8b1e38","d4c925f6.863cb8","d7181789.a2dd78"]]},{"id":"f2ca1b54.8b1e38","type":"debug","z":"e2c37146.8e473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":280,"wires":[]},{"id":"d4c925f6.863cb8","type":"api-call-service","z":"e2c37146.8e473","name":"Notifica Niccolò","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"data\":{\"attachment\":{\"content-type\":\"gif\",\"url\":\"/local/heart.gif\"},\"push\":{\"badge\":0,\"category\":\"missu\"}},\"message\":\"Christina ti ha inviato un cuore ❤\",\"title\":\"Miss you Machine\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":200,"wires":[[]]},{"id":"34201680.a6a72a","type":"server-events","z":"e2c37146.8e473","name":"","server":"ca579b8.0255868","event_type":"","x":140,"y":380,"wires":[["54add41.b8b062c"]]},{"id":"54add41.b8b062c","type":"switch","z":"e2c37146.8e473","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"REPLY","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":380,"wires":[["17a21234.0dd3be"]]},{"id":"8dc9e5de.314e78","type":"mqtt out","z":"e2c37146.8e473","name":"","topic":"esp_b","qos":"","retain":"","broker":"ecc21e8c.31d85","x":810,"y":380,"wires":[]},{"id":"17a21234.0dd3be","type":"trigger","z":"e2c37146.8e473","op1":"B","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"invia \"b\" per attivare l'altro dispositivo","x":550,"y":380,"wires":[["8dc9e5de.314e78","b4f852c6.3d015"]]},{"id":"e9b606fa.95cc18","type":"mqtt in","z":"e2c37146.8e473","name":"","topic":"esp_b_ha","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":150,"y":500,"wires":[["30856e39.08e9f2","b4f852c6.3d015"]]},{"id":"7d4e96e0.31bc98","type":"mqtt out","z":"e2c37146.8e473","name":"","topic":"esp_b","qos":"","retain":"","broker":"ecc21e8c.31d85","x":630,"y":500,"wires":[]},{"id":"30856e39.08e9f2","type":"trigger","z":"e2c37146.8e473","op1":"C","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"HA NICCOLO INVIA A CHRISTINA","x":400,"y":500,"wires":[["7d4e96e0.31bc98"]]},{"id":"4f2ba1a0.1797b","type":"api-call-service","z":"e2c37146.8e473","name":"Notifica Niccolò messaggio inoltrato","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"message\":\"il messaggio è stato inoltrato\",\"title\":\"Miss you Machine\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":500,"wires":[[]]},{"id":"5bc4350d.d5e76c","type":"mqtt in","z":"e2c37146.8e473","name":"","topic":"esp_b","qos":"2","datatype":"auto","broker":"ecc21e8c.31d85","x":90,"y":720,"wires":[["da970fca.1c038","b4f852c6.3d015"]]},{"id":"da970fca.1c038","type":"api-call-service","z":"e2c37146.8e473","name":"Notifica Christina","server":"ca579b8.0255868","service_domain":"notify","service":"ios_christina","data":"{\"data\":{\"attachment\":{\"content-type\":\"gif\",\"url\":\"/local/heart.gif\"},\"push\":{\"badge\":0,\"category\":\"missu2\"}},\"message\":\"Niccolò ti ha inviato un cuore ❤\",\"title\":\"Miss you Machine\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":700,"wires":[[]]},{"id":"644b95ca.cd938c","type":"server-events","z":"e2c37146.8e473","name":"","server":"ca579b8.0255868","event_type":"","x":110,"y":840,"wires":[["a053483d.7ec748"]]},{"id":"a053483d.7ec748","type":"switch","z":"e2c37146.8e473","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"REPLY2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":840,"wires":[["aee740d6.5116c"]]},{"id":"aee740d6.5116c","type":"trigger","z":"e2c37146.8e473","op1":"A","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"invia \"A\" per attivare l'altro dispositivo","x":540,"y":840,"wires":[["c302b39b.aa755","d7181789.a2dd78"]]},{"id":"c302b39b.aa755","type":"mqtt out","z":"e2c37146.8e473","name":"","topic":"esp_a","qos":"","retain":"","broker":"ecc21e8c.31d85","x":790,"y":860,"wires":[]},{"id":"864233d7.c9aa8","type":"mqtt in","z":"e2c37146.8e473","name":"","topic":"esp_a_ha","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":120,"y":980,"wires":[["8e4c5d96.8bb25"]]},{"id":"8e4c5d96.8bb25","type":"trigger","z":"e2c37146.8e473","op1":"C","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"HA INVIA A NICCOLO","x":350,"y":980,"wires":[["e96b1da9.3a2e9","d7181789.a2dd78"]]},{"id":"d904c650.9490b8","type":"api-call-service","z":"e2c37146.8e473","name":"Notifica CHRISTINA messaggio inoltrato","server":"ca579b8.0255868","service_domain":"notify","service":"ios_christina","data":"{\"message\":\"il messaggio è stato inoltrato\",\"title\":\"Miss you Machine\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":980,"wires":[[]]},{"id":"e96b1da9.3a2e9","type":"mqtt out","z":"e2c37146.8e473","name":"","topic":"esp_a","qos":"","retain":"","broker":"ecc21e8c.31d85","x":530,"y":1040,"wires":[]},{"id":"be60d5f9.0c00f8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"data\":{\"attachment\":{\"content-type\":\"jpg\",\"url\":\"https://casanonna.duckdns.org:8123/local/on.jpg\"}},\"message\":\"è dI NuOvO AcCesA\",\"title\":\"Casa Nonna\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":100,"wires":[[]]},{"id":"40eaf2d.f1d9b0c","type":"mqtt in","z":"e6e99f7e.4c388","name":"","topic":"niccolo/haON","qos":"2","datatype":"auto","broker":"8ebb2d9f.eeabf","x":110,"y":100,"wires":[["be60d5f9.0c00f8"]]},{"id":"7268636f.f05e5c","type":"alexa-home","z":"4efce580.ec165c","conf":"11ae3f19.6e8371","device":"61041","acknoledge":true,"name":"Principale","topic":"busatoniccolo","x":120,"y":60,"wires":[["153809e6.828256"]]},{"id":"153809e6.828256","type":"switch","z":"4efce580.ec165c","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":60,"wires":[["db8f39f0.a9f508"],["1517e6fd.46ae79"]]},{"id":"db8f39f0.a9f508","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.principale\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":20,"wires":[[]]},{"id":"1517e6fd.46ae79","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.principale\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":80,"wires":[[]]},{"id":"eac47621.88a1a8","type":"mqtt in","z":"4944792e.b2d158","name":"","topic":"clima_on","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":120,"y":120,"wires":[["2d4bb22f.afe7fe"]]},{"id":"1e283230.1ed9be","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.festra_centrale","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":120,"wires":[["29a3cc24.1e1734"],["2d0bd99a.3c57f6"]]},{"id":"29a3cc24.1e1734","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.festra_divano","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":850,"y":120,"wires":[["eb51ca35.a79748"],["2d0bd99a.3c57f6"]]},{"id":"eb51ca35.a79748","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.finestra_letto","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":120,"wires":[["9ac5e1d7.1013b"],["2d0bd99a.3c57f6"]]},{"id":"2d0bd99a.3c57f6","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"message\":\"c'è almeno una finestra aperta, il clima non è partito\",\"title\":\"Climatizzatore\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":180,"wires":[[]]},{"id":"9ac5e1d7.1013b","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porta_camera","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1850,"y":120,"wires":[["6bbea252.bcc2cc"],["6bd168bb.b93608"]]},{"id":"6bd168bb.b93608","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"data\":{\"push\":{\"badge\":0,\"category\":\"clima\"}},\"message\":\"la porta della camera è chiusa. vado?\",\"title\":\"Climatizzatore\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1940,"y":180,"wires":[[]]},{"id":"6bbea252.bcc2cc","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porta_delle_scale","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2340,"y":120,"wires":[["b1eae806.c2ae48"],["23fbf4bc.1720ec"]]},{"id":"b1eae806.c2ae48","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"data\":{\"push\":{\"badge\":0,\"category\":\"clima\"}},\"message\":\"la porta delle scale è aperta. vado?\",\"title\":\"Climatizzatore\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2420,"y":180,"wires":[[]]},{"id":"23fbf4bc.1720ec","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","service_domain":"climate","service":"turn_on","data":"{\"entity_id\":\"climate.mitsubishi\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2850,"y":140,"wires":[["bb6b0191.28c23"]]},{"id":"996a1eea.002ab","type":"inject","z":"4944792e.b2d158","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["2d4bb22f.afe7fe"]]},{"id":"bc63df1d.ead66","type":"server-events","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","event_type":"","x":2380,"y":280,"wires":[["b15396e9.c018d8"]]},{"id":"b15396e9.c018d8","type":"switch","z":"4944792e.b2d158","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"ACLIMA","vt":"str"},{"t":"eq","v":"SCLIMA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2560,"y":280,"wires":[["5baec6ad.e16508"],["1e9aaca9.37e793"]]},{"id":"5baec6ad.e16508","type":"trigger","z":"4944792e.b2d158","op1":"A","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"invia \"A\" per attivare l'altro dispositivo","x":2810,"y":280,"wires":[["23fbf4bc.1720ec","bb6b0191.28c23"]]},{"id":"78708a4c.d1b0e4","type":"api-call-service","z":"4944792e.b2d158","name":"Notifica NICCOLO aria ACCESA","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"message\":\"acceso\",\"title\":\"Condizionatore\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3470,"y":140,"wires":[[]]},{"id":"1e9aaca9.37e793","type":"api-call-service","z":"4944792e.b2d158","name":"Notifica NICCOLO aria **NON** ACCESA","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"message\":\"ok non lo accendo\",\"title\":\"Condizionatore\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2800,"y":480,"wires":[[]]},{"id":"ff17695d.a0a0f8","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa casa","topic":"device/acasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":120,"wires":[["5a7de7b0.fcbae8"]]},{"id":"5a7de7b0.fcbae8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883035660\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":120,"wires":[[]]},{"id":"7dbd00bd.ffa86","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883453691\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":180,"wires":[[]]},{"id":"7ced8c1f.e4e2f4","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa bar","topic":"device/abar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":180,"wires":[["7dbd00bd.ffa86"]]},{"id":"628e2fe0.bc15","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa fuori","topic":"device/afuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":240,"wires":[["187e0249.8eca6e"]]},{"id":"187e0249.8eca6e","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883542323\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":240,"wires":[[]]},{"id":"449117a8.e8d4f8","type":"mqtt in","z":"75ea38.3ea445c8","name":"annalisa giusy","topic":"device/agiusy","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":300,"wires":[["3dbb869c.1cb1da"]]},{"id":"3dbb869c.1cb1da","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883494371\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":300,"wires":[[]]},{"id":"3b03c2ff.4ce17e","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ebar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":580,"wires":[["b8316530.33cef8"]]},{"id":"b8316530.33cef8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883676821\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":580,"wires":[[]]},{"id":"69c121d6.7dce4","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/efuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":640,"wires":[["e178fbe4.890d18"]]},{"id":"f5049be.317af68","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ecasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":520,"wires":[["1c1df8f5.fd29a7"]]},{"id":"1c1df8f5.fd29a7","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883715863\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":520,"wires":[[]]},{"id":"e178fbe4.890d18","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883654262\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":640,"wires":[[]]},{"id":"911be4d9.6c1698","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883739093\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":700,"wires":[[]]},{"id":"a6558bac.c70378","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/egiusy","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":700,"wires":[["911be4d9.6c1698"]]},{"id":"5888be7f.aea42","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883621449\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":940,"wires":[[]]},{"id":"778f1d75.715604","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/cbar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":940,"wires":[["5888be7f.aea42"]]},{"id":"791dd6ac.bba698","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ccasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":880,"wires":[["8912c50f.770038"]]},{"id":"8912c50f.770038","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883599234\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":880,"wires":[[]]},{"id":"67a6f92f.eb7e58","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562883572979\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1000,"wires":[[]]},{"id":"2adc1789.a5ddb8","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/cfuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1000,"wires":[["67a6f92f.eb7e58"]]},{"id":"3f83db45.c067b4","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ncasa","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1180,"wires":[["bdc11ab8.fd5558","7f048ec4.e5523"]]},{"id":"bdc11ab8.fd5558","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562962900142\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1180,"wires":[[]]},{"id":"647121cd.02d15","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nbar","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1240,"wires":[["a31f34f5.bba748"]]},{"id":"a31f34f5.bba748","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961297562\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1240,"wires":[[]]},{"id":"3ca93bf8.51f164","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nfuori","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1300,"wires":[["9813fc0f.b365b"]]},{"id":"9813fc0f.b365b","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961196334\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1300,"wires":[[]]},{"id":"6cf5714e.a6b5c","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nlavoro","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":120,"y":1360,"wires":[["39b1e8f6.34e738"]]},{"id":"39b1e8f6.34e738","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961233374\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1360,"wires":[[]]},{"id":"3f5e12d4.f5e56e","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/nchri","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1420,"wires":[["223000a.97cfa"]]},{"id":"223000a.97cfa","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562961260725\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1420,"wires":[[]]},{"id":"31b7ec1a.640904","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/ngiusy","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1480,"wires":[["4f0b24f9.f0972c"]]},{"id":"4f0b24f9.f0972c","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562962937448\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1480,"wires":[[]]},{"id":"776272db.c9fc5c","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"device/npale","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1540,"wires":[[]]},{"id":"88a8bf29.479d2","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1562962937448\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1540,"wires":[[]]},{"id":"817aa549.d1d988","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"light/cucinaon","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1840,"wires":[["8062dd5c.42cfb"]]},{"id":"8062dd5c.42cfb","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563004380775\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1840,"wires":[[]]},{"id":"69ba02bd.f4da8c","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"light/cucinaoff","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":110,"y":1900,"wires":[["ddcf1c7d.32763"]]},{"id":"ddcf1c7d.32763","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563004479219\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":1900,"wires":[[]]},{"id":"16cd0a7.cc320f6","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Cucina","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":2020,"wires":[["b824438.6a5e4c"],[]]},{"id":"b824438.6a5e4c","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.koogeek_socket_a27269\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":2020,"wires":[["9c54fe88.d58dd"]]},{"id":"9c54fe88.d58dd","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":2020,"wires":[[]]},{"id":"e363b9fa.851288","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Vetrina","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":2100,"wires":[["54a341b3.cb83e"],[]]},{"id":"54a341b3.cb83e","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.sonoff_10003eff18\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":2100,"wires":[["ac118c37.f64d8"]]},{"id":"ac118c37.f64d8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":2100,"wires":[[]]},{"id":"840f096e.66c708","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"light/vetrinaon","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":710,"y":1840,"wires":[["955a9bca.f604d8"]]},{"id":"955a9bca.f604d8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563039551123\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1840,"wires":[[]]},{"id":"ff9e07dd.979dd8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.1563039514514\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":1900,"wires":[[]]},{"id":"e3d51d23.e873b","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"switch.sonoff_10003eff18","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":800,"y":1900,"wires":[["ff9e07dd.979dd8"],[]]},{"id":"a0488f98.27971","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.porta_delle_scale","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":2220,"wires":[["92fc8309.b5754"],["7e49587d.ee7ab8"]]},{"id":"92fc8309.b5754","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.porta_status_dropdown\",\"option\":\"Aperta\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":2220,"wires":[[]]},{"id":"7e49587d.ee7ab8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.porta_status_dropdown\",\"option\":\"Chiusa\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":2260,"wires":[[]]},{"id":"c0f72999.2ed5d8","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"light.koogeek_socket_a27269","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":1740,"wires":[["ddcf1c7d.32763"],[]]},{"id":"aafe0790.812e18","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"light.koogeek_socket_a27269","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":210,"y":1800,"wires":[["8062dd5c.42cfb"],[]]},{"id":"19d1bcf.fa70043","type":"switch","z":"4efce580.ec165c","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":200,"wires":[["c017d7d.accb928"],["102c0d60.cac1e3"]]},{"id":"b3c0593c.4d6dd8","type":"alexa-home","z":"4efce580.ec165c","conf":"11ae3f19.6e8371","device":"64091","acknoledge":true,"name":"Letto","topic":"busatoniccolo","x":110,"y":200,"wires":[["19d1bcf.fa70043"]]},{"id":"c017d7d.accb928","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":160,"wires":[[]]},{"id":"102c0d60.cac1e3","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":220,"wires":[[]]},{"id":"303600fc.904a4","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.02200466b4e62d07bd0c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":280,"wires":[[]]},{"id":"66c8003.7868c","type":"switch","z":"4efce580.ec165c","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":320,"wires":[["303600fc.904a4"],["31ff5410.19a05c"]]},{"id":"31ff5410.19a05c","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.02200466b4e62d07bd0c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":340,"wires":[[]]},{"id":"3954f21e.5526ae","type":"alexa-home","z":"4efce580.ec165c","conf":"11ae3f19.6e8371","device":"64092","acknoledge":true,"name":"Divano","topic":"busatoniccolo","x":110,"y":320,"wires":[["66c8003.7868c"]]},{"id":"a1d334b9.316948","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.scrivania\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":400,"wires":[[]]},{"id":"55727440.00d74c","type":"switch","z":"4efce580.ec165c","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":440,"wires":[["a1d334b9.316948"],["cf26be77.3fe2a"]]},{"id":"cf26be77.3fe2a","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.scrivania\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":460,"wires":[[]]},{"id":"c717e4ba.bfafe8","type":"alexa-home","z":"4efce580.ec165c","conf":"11ae3f19.6e8371","device":"64093","acknoledge":true,"name":"Scrivania","topic":"busatoniccolo","x":120,"y":440,"wires":[["55727440.00d74c"]]},{"id":"863f6b8d.4e92e8","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":520,"wires":[[]]},{"id":"dc87114b.7184e","type":"switch","z":"4efce580.ec165c","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":560,"wires":[["863f6b8d.4e92e8"],["6189b277.0241fc"]]},{"id":"6189b277.0241fc","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":580,"wires":[[]]},{"id":"1fc7c346.72b5fd","type":"alexa-home","z":"4efce580.ec165c","conf":"11ae3f19.6e8371","device":"64094","acknoledge":true,"name":"Armadio","topic":"busatoniccolo","x":120,"y":560,"wires":[["dc87114b.7184e"]]},{"id":"e03ea38d.284e","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.clima_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":2360,"wires":[[]]},{"id":"5c01fdb8.cf00f4","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"switch.clima","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":2380,"wires":[["e03ea38d.284e"],["957bf2e0.b79e5"]]},{"id":"957bf2e0.b79e5","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.clima_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":2400,"wires":[[]]},{"id":"72c82dc3.7a51f4","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot1_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2520,"wires":[[]]},{"id":"8b5b91c8.5fc0e","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"automation.test_ir_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":2540,"wires":[["72c82dc3.7a51f4"],["c33d4a75.99d7e8"]]},{"id":"c33d4a75.99d7e8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot1_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2560,"wires":[[]]},{"id":"d8b47489.b23cc8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot2_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2640,"wires":[[]]},{"id":"8c77ce96.e1ca3","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"automation.movimento_garage_notifica","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":2660,"wires":[["d8b47489.b23cc8"],["e63e6766.15b008"]]},{"id":"e63e6766.15b008","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.mot2_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":2680,"wires":[[]]},{"id":"425987df.ea1d38","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2380,"wires":[[]]},{"id":"4c68d2e3.de5c2c","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.clima\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":2380,"wires":[["425987df.ea1d38"]]},{"id":"3f19dc63.1202c4","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Clima","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":940,"y":2380,"wires":[["4c68d2e3.de5c2c"],[]]},{"id":"c24957fd.205538","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2540,"wires":[[]]},{"id":"28f49e5b.bf1772","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"toggle","data":"{\"entity_id\":\"automation.test_ir_sensor\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":2540,"wires":[["c24957fd.205538"]]},{"id":"8972dac8.155988","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"mot1","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":940,"y":2540,"wires":[["28f49e5b.bf1772"],[]]},{"id":"e10bd217.5f70b","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.falso_status_dropdown\",\"option\":\"Niente\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2640,"wires":[[]]},{"id":"addd354d.38fad8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"toggle","data":"{\"entity_id\":\"automation.movimento_garage_notifica\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":2640,"wires":[["e10bd217.5f70b"]]},{"id":"c5f67312.7b6da","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"mot2","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":940,"y":2640,"wires":[["addd354d.38fad8"],[]]},{"id":"6d199215.3c740c","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":800,"wires":[["5888be7f.aea42"]]},{"id":"5d5304e2.c13cbc","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["1c1df8f5.fd29a7"]]},{"id":"f4939be3.e1d5d8","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["7dbd00bd.ffa86"]]},{"id":"4c5aecdc.942a74","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2420,"wires":[["e03ea38d.284e"]]},{"id":"3c22e459.5378dc","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":40,"wires":[["60a43726.e7c618","d0a5b76b.0a1448","2b5e858e.fb963a","a1d06f5d.785ec"],[]]},{"id":"60a43726.e7c618","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":120,"wires":[["5a7de7b0.fcbae8"],[]]},{"id":"d0a5b76b.0a1448","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":200,"wires":[["187e0249.8eca6e"],[]]},{"id":"2b5e858e.fb963a","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":160,"wires":[["7dbd00bd.ffa86"],[]]},{"id":"a1d06f5d.785ec","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Nonna Giusy","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":240,"wires":[["3dbb869c.1cb1da"],[]]},{"id":"ebacd05f.b9d5a","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":480,"wires":[["a00e55ab.55b518","d02c2759.abff48","92868a89.cf0868","8c07fef1.cbeb9"],[]]},{"id":"a00e55ab.55b518","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_eleonora_busato","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1360,"y":520,"wires":[["1c1df8f5.fd29a7"],[]]},{"id":"d02c2759.abff48","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_eleonora_busato","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1360,"y":560,"wires":[["e178fbe4.890d18"],[]]},{"id":"92868a89.cf0868","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_eleonora_busato","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1360,"y":600,"wires":[["b8316530.33cef8"],[]]},{"id":"8c07fef1.cbeb9","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Nonna Giusy","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_eleonora_busato","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1360,"y":640,"wires":[["911be4d9.6c1698"],[]]},{"id":"da80e46b.a89028","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_claudio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":880,"wires":[["8912c50f.770038"],[]]},{"id":"d7decab.7e12b38","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":840,"wires":[["da80e46b.a89028","ee563da7.e9959","aec634a.11d2fc8"],[]]},{"id":"ee563da7.e9959","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_claudio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":920,"wires":[["67a6f92f.eb7e58"],[]]},{"id":"aec634a.11d2fc8","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_claudio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":960,"wires":[["5888be7f.aea42"],[]]},{"id":"1c8c4f95.9abe6","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":850,"y":1140,"wires":[["3c7ff5ce.5f9b2a","9ee1c9a9.7b95d8","86a30538.873938","f67c5ab0.470438","70934204.424c8c"],[]]},{"id":"3c7ff5ce.5f9b2a","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1180,"wires":[["bdc11ab8.fd5558"],[]]},{"id":"9ee1c9a9.7b95d8","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Bar","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1220,"wires":[["a31f34f5.bba748"],[]]},{"id":"86a30538.873938","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1260,"wires":[["9813fc0f.b365b"],[]]},{"id":"f67c5ab0.470438","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Lavoro","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1300,"wires":[["39b1e8f6.34e738"],[]]},{"id":"70934204.424c8c","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"Nonna Giusy","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1340,"wires":[["4f0b24f9.f0972c"],[]]},{"id":"f370e1b0.62507","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":1680,"wires":[["79663c7f.66ac94"],[]]},{"id":"79663c7f.66ac94","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.koogeek_socket_a27269","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1680,"wires":[["8062dd5c.42cfb"],["ddcf1c7d.32763"]]},{"id":"fd27cafd.441d88","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1430,"y":1840,"wires":[["3c36c631.64068a"],[]]},{"id":"3c36c631.64068a","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_10003eff18","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1820,"y":1840,"wires":[["955a9bca.f604d8"],[]]},{"id":"3b22a13a.ae2b2e","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1540,"y":1760,"wires":[["3c36c631.64068a"]]},{"id":"c8136ad3.f76378","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1050,"y":2220,"wires":[["d89badd0.c39a4"],[]]},{"id":"d89badd0.c39a4","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.porta_delle_scale","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1460,"y":2220,"wires":[["92fc8309.b5754"],["7e49587d.ee7ab8"]]},{"id":"6302f444.7b391c","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":2030,"y":2380,"wires":[["ec07d268.0e459"],[]]},{"id":"ec07d268.0e459","type":"api-current-state","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.clima","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2380,"y":2380,"wires":[["e03ea38d.284e"],["957bf2e0.b79e5"]]},{"id":"d1045ba3.aa8ee8","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2140,"y":2300,"wires":[["ec07d268.0e459"]]},{"id":"282e9708.eb85a8","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","version":1,"entityidfilter":"input_select.falso_status_dropdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"hassion","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":2800,"wires":[["8c7d6b33.639538"],[]]},{"id":"8c7d6b33.639538","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"data\":{\"attachment\":{\"content-type\":\"jpg\",\"url\":\"https://casaniccolo.duckdns.org:8123/local/dash.jpg\"}},\"message\":\"è pronta\",\"title\":\"Dashboard\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":2800,"wires":[[]]},{"id":"1daec181.2a3b6e","type":"alexa-home","z":"4efce580.ec165c","conf":"11ae3f19.6e8371","device":"64981","acknoledge":true,"name":"Condizionatore","topic":"busatoniccolo","x":140,"y":680,"wires":[["911da4b4.dd9168"]]},{"id":"911da4b4.dd9168","type":"switch","z":"4efce580.ec165c","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":680,"wires":[["3e6df35d.5552cc"],["af719e00.53cb1"]]},{"id":"3e6df35d.5552cc","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.clima\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":640,"wires":[[]]},{"id":"af719e00.53cb1","type":"api-call-service","z":"4efce580.ec165c","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.clima\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":700,"wires":[[]]},{"id":"a7e17345.5a86d","type":"inject","z":"75ea38.3ea445c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":60,"wires":[["5a7de7b0.fcbae8"]]},{"id":"1026683.dba3198","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1200,"y":40,"wires":[["60a43726.e7c618","2b5e858e.fb963a","d0a5b76b.0a1448","a1d06f5d.785ec"]]},{"id":"98e44181.e0736","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1200,"y":480,"wires":[["a00e55ab.55b518","d02c2759.abff48","92868a89.cf0868","8c07fef1.cbeb9"]]},{"id":"98f4cb50.0adb78","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1200,"y":840,"wires":[["da80e46b.a89028","ee563da7.e9959","aec634a.11d2fc8"]]},{"id":"15f15585.bf768a","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1160,"y":1140,"wires":[["3c7ff5ce.5f9b2a","9ee1c9a9.7b95d8","86a30538.873938","f67c5ab0.470438","70934204.424c8c"]]},{"id":"85c58662.7cec98","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":360,"y":1660,"wires":[["79663c7f.66ac94"]]},{"id":"ddc8f91a.ac4d28","type":"mqtt in","z":"75ea38.3ea445c8","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":1560,"y":1820,"wires":[["3c36c631.64068a"]]},{"id":"dd881c0f.c77fa","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.pir_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":360,"wires":[["dae53aa8.247398"],[]]},{"id":"dae53aa8.247398","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"45.67831","lon":"12.16674","startTime":"20:00","endTime":"6:00","startOffset":0,"endOffset":0,"x":470,"y":360,"wires":[["14f8d4f1.504b8b"],[]]},{"id":"14f8d4f1.504b8b","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.60707618ecfabc23078c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":360,"wires":[["70e2a949.934588"]]},{"id":"70e2a949.934588","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":360,"wires":[["23d9a8cf.e350b8"]]},{"id":"23d9a8cf.e350b8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.60707618ecfabc23078c\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":360,"wires":[[]]},{"id":"ac30925d.79c88","type":"comment","z":"e6e99f7e.4c388","name":"Notifica Accensione Casa","info":"","x":150,"y":40,"wires":[]},{"id":"c0abfa34.e292a8","type":"comment","z":"e6e99f7e.4c388","name":"Accende la Luce del garage solo la sera","info":"","x":190,"y":320,"wires":[]},{"id":"7f048ec4.e5523","type":"link out","z":"75ea38.3ea445c8","name":"","links":["e347ccbb.18b64","6493022e.03efac"],"x":215,"y":1160,"wires":[]},{"id":"a47f0772.388608","type":"api-call-service","z":"e6e99f7e.4c388","name":"Notifica CHRISTINA nic a casa","server":"ca579b8.0255868","service_domain":"notify","service":"ios_christina","data":"{\"message\":\"è arrivato a Casa\",\"title\":\"Niccolò\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":480,"wires":[[]]},{"id":"6493022e.03efac","type":"link in","z":"e6e99f7e.4c388","name":"","links":["7f048ec4.e5523"],"x":55,"y":480,"wires":[["a47f0772.388608"]]},{"id":"7207d6bd.efe738","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["79c5ead6.d8e7e4"]]},{"id":"79c5ead6.d8e7e4","type":"mqtt out","z":"e6e99f7e.4c388","name":"","topic":"ha/update","qos":"","retain":"","broker":"f4039982.89ab38","x":360,"y":220,"wires":[]},{"id":"b4f852c6.3d015","type":"join","z":"e2c37146.8e473","name":"Semplifica notifica","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"2","reduceInitType":"num","reduceFixup":"","x":890,"y":500,"wires":[["4f2ba1a0.1797b"]]},{"id":"d7181789.a2dd78","type":"join","z":"e2c37146.8e473","name":"Semplifica notifica","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":980,"wires":[["d904c650.9490b8"]]},{"id":"e76d1dec.4d20f","type":"comment","z":"75ea38.3ea445c8","name":"POP Up telecamere","info":"","x":150,"y":3080,"wires":[]},{"id":"9ea77c85.10877","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.campanello","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":3140,"wires":[["a88ce634.27aaa8"],[]]},{"id":"a88ce634.27aaa8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond3_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3140,"wires":[["550d737e.0ece0c"]]},{"id":"550d737e.0ece0c","type":"delay","z":"75ea38.3ea445c8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3140,"wires":[["4ac1ab27.475724"]]},{"id":"4ac1ab27.475724","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond3_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":3140,"wires":[[]]},{"id":"27a442a1.b5100e","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.pir_esterno","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":3220,"wires":[[],[]]},{"id":"4abcb96a.5b6e88","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond1_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3220,"wires":[["c76d3218.c6f09"]]},{"id":"c76d3218.c6f09","type":"delay","z":"75ea38.3ea445c8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3220,"wires":[["34e04857.9b6bd8"]]},{"id":"34e04857.9b6bd8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond1_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":3220,"wires":[[]]},{"id":"d164fd06.4defa","type":"server-state-changed","z":"75ea38.3ea445c8","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.pir_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":3300,"wires":[["3c6e0af7.04a966"],[]]},{"id":"3c6e0af7.04a966","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond2_status_dropdown\",\"option\":\"Acceso\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":3300,"wires":[["499ebf49.dedda"]]},{"id":"499ebf49.dedda","type":"delay","z":"75ea38.3ea445c8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3300,"wires":[["47a5b865.62c8a8"]]},{"id":"47a5b865.62c8a8","type":"api-call-service","z":"75ea38.3ea445c8","name":"","server":"af1fc031.f6c55","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.cond2_status_dropdown\",\"option\":\"Spento\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":3300,"wires":[[]]},{"id":"74039ebc.dc16","type":"comment","z":"e6e99f7e.4c388","name":"Notifica christina che sono a casa","info":"","x":180,"y":440,"wires":[]},{"id":"9d887314.13c51","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"binary_sensor.campanello","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":680,"wires":[["db8f3f03.c817d","76b85670.7954c8"],[]]},{"id":"db8f3f03.c817d","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_annalisa","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":640,"wires":[[],["fdd71e7c.5f6f8"]]},{"id":"fdd71e7c.5f6f8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_annalisa","data":"{\"data\":{\"attachment\":{\"content-type\":\"jpg\",\"url\":\"/local/cancelletto.jpg\"}},\"message\":\"qualcuno ha suonato il campanello\",\"title\":\"Cancelletto\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":640,"wires":[[]]},{"id":"76b85670.7954c8","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_eleonora_busato","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":720,"wires":[["2af7a478.3dfacc"],[]]},{"id":"2af7a478.3dfacc","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"mobile_app_qcom_btd","data":"{\"data\":{\"image\":\"https://casaniccolo.duckdns.org:8123/local/cancelletto.jpg\"},\"message\":\"qualcuno ha suonato il campanello\",\"title\":\"Cancelletto\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":720,"wires":[[]]},{"id":"741991c5.3376a","type":"comment","z":"e6e99f7e.4c388","name":"Notifiche del Campanello se non sono a casa","info":"","x":210,"y":580,"wires":[]},{"id":"2d4bb22f.afe7fe","type":"api-current-state","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"cool","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.mitsubishi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":80,"wires":[["45bb9ddc.cddf34"],["1e283230.1ed9be"]]},{"id":"45bb9ddc.cddf34","type":"api-call-service","z":"4944792e.b2d158","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"message\":\"bravo, era già acceso\",\"title\":\"Climatizzatore\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":60,"wires":[[]]},{"id":"bb6b0191.28c23","type":"join","z":"4944792e.b2d158","name":"Semplifica notifica","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"2","reduceInitType":"num","reduceFixup":"","x":3170,"y":140,"wires":[["78708a4c.d1b0e4"]]},{"id":"70120607.e3ba78","type":"comment","z":"e6e99f7e.4c388","name":"Quando genitori a casa blocca movimento","info":"","x":200,"y":860,"wires":[]},{"id":"5bf7fd16.ea6864","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_claudio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":920,"wires":[["26d3c855.d858e8"],["60dab1ee.0a9dc"]]},{"id":"21803e40.7be9d2","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.test_ir_sensor\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":880,"wires":[["b281252f.efb5c8"]]},{"id":"b281252f.efb5c8","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.non_dimenticarti_le_telecamere\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":880,"wires":[[]]},{"id":"26d3c855.d858e8","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"45.67838","lon":"12.16673","startTime":"09:00","endTime":"21:30","startOffset":0,"endOffset":0,"x":770,"y":920,"wires":[["21803e40.7be9d2"],["60dab1ee.0a9dc"]]},{"id":"60dab1ee.0a9dc","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"automation.test_ir_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1040,"y":940,"wires":[["bbeb037f.3e2ad"],[]]},{"id":"bbeb037f.3e2ad","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_on","data":"{\"entity_id\":\"automation.test_ir_sensor\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":940,"wires":[["cacc99b7.a4d728"]]},{"id":"cacc99b7.a4d728","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_on","data":"{\"entity_id\":\"automation.non_dimenticarti_le_telecamere\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":940,"wires":[[]]},{"id":"bf5997a.d2d4b68","type":"comment","z":"e6e99f7e.4c388","name":"Switch Nonna Giusy","info":"attiva questo attraverso l'interfaccia utente per disabilitare la telecamere","x":130,"y":1020,"wires":[]},{"id":"76745fec.8fbda","type":"mqtt in","z":"e6e99f7e.4c388","name":"","topic":"switch/giusyon","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":120,"y":1080,"wires":[["e90a1968.def598"]]},{"id":"e90a1968.def598","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.test_ir_sensor\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":1080,"wires":[["a6a16af7.4d2288"]]},{"id":"4d6d176d.395548","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"59","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":1080,"wires":[["88b49164.ba0ba"]]},{"id":"88b49164.ba0ba","type":"mqtt out","z":"e6e99f7e.4c388","name":"","topic":"switch/giusyoff","qos":"","retain":"","broker":"f4039982.89ab38","x":1000,"y":1080,"wires":[]},{"id":"a6a16af7.4d2288","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.movimento_garage_notifica\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":1080,"wires":[["4d6d176d.395548"]]},{"id":"6e64812f.96d09","type":"comment","z":"e6e99f7e.4c388","name":"Non dimenticarti la telecamera del garage accesa","info":"","x":220,"y":1160,"wires":[]},{"id":"5e9ab5ba.cd005c","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"automation.movimento_garage_notifica","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":1220,"wires":[["d265db52.7aaf68"],[]]},{"id":"d265db52.7aaf68","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"59","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":1220,"wires":[["a60d6a88.9b9408"]]},{"id":"a60d6a88.9b9408","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"automation","service":"turn_on","data":"{\"entity_id\":\"automation.movimento_garage_notifica\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":1220,"wires":[[]]},{"id":"b2438897.89efe8","type":"comment","z":"e6e99f7e.4c388","name":"Quando accendere lo specchio","info":"","x":170,"y":1360,"wires":[]},{"id":"215e7f45.53e37","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"device_tracker.aniccolo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1420,"wires":[["9e60fce6.0d94b"],["bfc0850b.0c98b8"]]},{"id":"a91b7e0d.84141","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":1400,"wires":[[]]},{"id":"bfc0850b.0c98b8","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1440,"wires":[["d6cbfa4d.122ce8"]]},{"id":"d6cbfa4d.122ce8","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1440,"wires":[[],["9d240ed3.86c9c"]]},{"id":"9d240ed3.86c9c","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":1440,"wires":[[]]},{"id":"42e43d44.9408b4","type":"inject","z":"e6e99f7e.4c388","name":"spegni alle 22:15","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 22 * * *","once":false,"onceDelay":0.1,"x":1310,"y":1460,"wires":[["7ebb5cda.a3df04"]]},{"id":"7ebb5cda.a3df04","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1460,"wires":[[]]},{"id":"683f1a45.9e8504","type":"server-state-changed","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"entityidfilter":"device_tracker.aniccolo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":1540,"wires":[[],["99ba8fd8.13667"]]},{"id":"99ba8fd8.13667","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1540,"wires":[["3ad1204a.f6022"]]},{"id":"3ad1204a.f6022","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":1540,"wires":[[],["c2ed12c8.ebe85","5ffa5f78.67587"]]},{"id":"c2ed12c8.ebe85","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.principale, light.scrivania, light.02200466b4e62d07bd0c, light.0220046668c63aaf5b32\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":1540,"wires":[[]]},{"id":"5ffa5f78.67587","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.sonoff_10003eff4b\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":1540,"wires":[[]]},{"id":"de4080ef.27c64","type":"comment","z":"e6e99f7e.4c388","name":"Spegni la camera in mia assenza","info":"","x":170,"y":1500,"wires":[]},{"id":"d819cbb0.431678","type":"comment","z":"e6e99f7e.4c388","name":"Aggiorna la posizione di niccolò dopo il riavvio","info":"","x":210,"y":1660,"wires":[]},{"id":"7a6fef9e.7dd44","type":"mqtt in","z":"e6e99f7e.4c388","name":"","topic":"ha/update","qos":"2","datatype":"auto","broker":"f4039982.89ab38","x":100,"y":1720,"wires":[["a7f521a3.50ef9"]]},{"id":"a7f521a3.50ef9","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1720,"wires":[["ded24e6b.eee97"]]},{"id":"ded24e6b.eee97","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"message\":\"request_location_update\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1720,"wires":[["a2ef9791.b6ce18"]]},{"id":"a2ef9791.b6ce18","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"notify","service":"ios_niccolo","data":"{\"message\":\"Controlla la tua posizione\",\"title\":\"Capotreno:\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1720,"wires":[[]]},{"id":"1b31a0f9.99dc8f","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1800,"wires":[["ded24e6b.eee97"]]},{"id":"a8109a68.b4d0a8","type":"inject","z":"e6e99f7e.4c388","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":1400,"wires":[["68bdbd67.30e914"]]},{"id":"d125be68.6752a","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2030,"y":1400,"wires":[["eeac7d81.d7da3"],[]]},{"id":"eeac7d81.d7da3","type":"api-call-service","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.sonoff_10003ecc07\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2310,"y":1400,"wires":[[]]},{"id":"68bdbd67.30e914","type":"time-range-switch","z":"e6e99f7e.4c388","name":"","lat":"","lon":"","startTime":"07:28","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":1390,"y":1400,"wires":[["f6fddfac.9d03c"],[]]},{"id":"f6fddfac.9d03c","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_10003ecc07","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1680,"y":1400,"wires":[["d125be68.6752a"],[]]},{"id":"9e60fce6.0d94b","type":"delay","z":"e6e99f7e.4c388","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":1400,"wires":[["80f701c3.c84f5"]]},{"id":"80f701c3.c84f5","type":"api-current-state","z":"e6e99f7e.4c388","name":"","server":"ca579b8.0255868","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.aniccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1400,"wires":[["a91b7e0d.84141"],[]]}]